<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        همکاری
    </title>

    <link href="/Styles/Admin/Orders.min.css" rel="stylesheet" />
    <link href="/Styles/Controls.min.css" rel="stylesheet" />
    <!--Uikit Scripts-->
    <link href="/Styles/uikit.min.css" rel="stylesheet" />

    <!--Uikit Scripts-->
    <script src="/Scripts/uikit-icons.min.js"></script>
    <script src="/Scripts/uikit.min.js"></script>

    <!-- Project Scripts -->
    <script src="/JsDecoder/BjaxLib.js"></script>
    <script src="/Scripts/Jquery/jquery-3.5.1.min.js"></script>
    <script src="/JsDecoder/HelpJore.js"></script>


</head>
<body>
<nav>
    <ul class="row">
        <li>
            <a href="TblCoop.html">Coop</a>
        </li>
        <li>
            / 
        </li>
        <li>
            <a href="TblHelp.html">Help</a>
        </li>
        <li>
            / 
        </li>
        <li>
            <a href="TblStart.html">Start</a>
        </li>
    </ul>
</nav>
    <table class="uk-table uk-table-striped" dir="rtl">
        <thead>
            <tr>
                <th>کد</th>
                <th>نام و نام خانوادگی</th>
                <th>ایمیل</th>
                <th>توضیحات</th>
            </tr>
        </thead>
        <tbody id="tblMain">
        </tbody>
    </table>

    <!--  -->
    <script src="/Scripts/Admin/TblHelp.js"></script>
</body>
</html>