<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>دیجی درمان</title>

    <link href="/Styles/product.min.css" rel="stylesheet" />
    <link rel="icon" href="/Resources/Svg/favIcon.svg" />
    <link href="/Styles/Controls.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <script src="/Scripts/Parking.js"></script>

    <!-- #region Out -->
    <!--BEGIN RAYCHAT CODE-->
    <script type="text/javascript">!function () { function t() { var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, localStorage.getItem("rayToken") ? t.src = "https://app.raychat.io/scripts/js/" + o + "?rid=" + localStorage.getItem("rayToken") + "&href=" + window.location.href : t.src = "https://app.raychat.io/scripts/js/" + o; var e = document.getElementsByTagName("script")[0]; e.parentNode.insertBefore(t, e) } var e = document, a = window, o = "c7fb7266-6925-40ea-b67e-3289472d3be9"; "complete" == e.readyState ? t() : a.attachEvent ? a.attachEvent("onload", t) : a.addEventListener("load", t, !1) }();</script>
    <!-- Hotjar Tracking Code for https://www.arvintavco.com -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1868546, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');

        /**/</script>
    <!-- #endregion -->


</head>
<body>

    <nav class="row">
        <a href="Landing.html" class="logo">
            <img class="fillheight center" src="/Resources/Svg/ArvinTavLogo.svg" />
        </a>
        <section class="row">
            <a href="Landing.html" class="row">
                خانه
                <img src="/Resources/Svg/Icons/Home.svg" class="center" />
            </a>
            <a href="About.html">درباره ما</a>
            <a href="DigitalMarketing.html">دیجیتال مارکتینگ</a>
            <a href="order/order.html">آموزش آنلاین</a>
        </section>
    </nav>

    <div class="space"></div>
    <div class="space-mobile"></div>

    <!-- #region Title -->

    <div class="title center">
        <!--<a name="who"></a>-->
        <p class="center">پارکینگ تاو</p>
        <img src="/Resources/Svg/Underline_3.svg" />
    </div>

    <!-- #endregion -->
    <div class="space"></div>

    <!-- #region Label -->

    <div class="card center">
        <p>
            رسالت اصلی نرم افزار پارکینگ هوشمند، مدیریت ورود و خروج
            وسایل نقلیه در یک پارکینگ می باشد به گونه ای که
            ضمن ثبت دقیق رفت و آمدها و حذف برخی هزینه های
            اضافی، امکانات ویژه ای جهت محاسبه تعرفه های گوناگون
            را دارد؛ در عین حال این نرم افزار تمهیدات ویژه ای
            جهت اعضای ثابت و آمد و شدهای متفرقه ارائه میدهد
        </p>
    </div>

    <!-- #endregion -->

    <div class="space"></div>

    <!-- #region Main -->
    <div class="main row center">
        <img src="/Resources/Png/Parking/ParkingHero.png" />
        <div class="card">
            <header>برخی از قابلیت های این برنامه</header>
            <ul>
                <li>چند کاربره</li>
                <li>حذف هزینه کارتخوان و رفع نیاز به کارتخوان مغناطیسی</li>
                <li>طراحی پارکینگ خود در برنامه</li>
                <li>انتخاب جا پارک به صورت دستی و خودکار</li>
                <li>جستجوی پیشرفته با یک کلیک</li>
                <li> تصویر زمینه ی متغیر</li>
                <li>گزارش گیری آنی هنگام واریز وجه</li>
                <li>گزارشگیری افراد و جستجوی تاریخچه ی پارکینگ</li>
                <li>بخش ناحیه ی کاربری و مدیریت کاربران سیستم</li>
                <li>بخش صندوق و محاسبه ی درآمد روزانه و زمان به زمان هم برای افراد ویژه هم برای درآمد معمولی</li>
                <li>پیشبینی درآمد کل پس از ثبت داده به مقدار کافی با استفاده از یادگیری عمیق هوش مصنوعی</li>
                <li>امکان باز طراحی پارکینگ از بخش تنظیمات</li>
                <li>پشتیبانگیری از داده ها و استفاده از داده های پشتیبان</li>
                <li>تغییر تم به بیش از 20 تم</li>
            </ul>
            <!--<div class="submit unselectable center" onclick="PlaceOrder()">ثبت سفارش</div>-->
        </div>
    </div>

    <!-- #endregion -->

    <div class="space"></div>

    <!-- #region Screenshots -->

    <div class="screenshots center row">
        <img id="1" src="/Resources/Png/Parking/ParkingVertical.png" />
        <div class="column">
            <img id="2" src="/Resources/Png/Parking/ParkingDark.png" />
            <img id="3" src="/Resources/Png/Parking/ParkingLight.png" />
        </div>
    </div>

    <div class="space-double"></div>

    


    <!-- #endregion -->

    <script>
        let duration = 1400;
        window.sr = ScrollReveal();
        sr.reveal('nav', {
            duration: duration,
            origin: 'top',
            distance: '50px'
        });
        sr.reveal('.title', {
            duration: duration,
            distance: '50px'
        });
        sr.reveal('.card', {
            duration: duration,
            distance: '50px'
        });
        sr.reveal('.main', {
            duration: duration,
            distance: '50px'
        });
        sr.reveal('.screenshots', {
            duration: duration,
            distance: '50px'
        });

    </script>
</body>
</html>