/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

* {
  margin: 0;
  padding: 0;
  float: none;
  overflow-x: hidden;
  font-family: 'Segoe UI';
  text-decoration: none;
  font-size: 2vw; }

html {
  scroll-behavior: smooth;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  html ::-webkit-scrollbar {
    width: 1vw;
    min-width: 6px; }
  html ::-webkit-scrollbar-track {
    background: #e0e0e4; }
  html ::-webkit-scrollbar-thumb {
    background: #81cfe8; }
  html ::-webkit-scrollbar-thumb:hover {
    background: #acdff0;
    transition: all ease 0.2s; }

p {
  overflow-x: hidden;
  overflow-y: hidden;
  color: #606060; }

body {
  background: #F0F0F2; }

.center {
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto; }

button {
  outline: none;
  cursor: pointer; }

.alert {
  flex: 1;
  color: #FF2E2E; }

.visible {
  visibility: visible; }

.collapsed {
  height: 0 !important;
  width: 0 !important;
  flex: 0 !important; }

.hidden {
  visibility: hidden; }

.absolute {
  position: absolute; }

.unselectable {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important; }

img {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  pointer-events: none !important; }

.link {
  color: #34C9B5;
  text-decoration: none; }

.link:hover {
  color: #aceae1; }

.link:active {
  color: #a5de9c; }

.dummy {
  width: 100px;
  height: 100px;
  background: red; }

.uk-notification-message div {
  font-size: 20px !important;
  text-align: right;
  direction: rtl; }

.space-mobile {
  visibility: collapse; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-mobile {
      width: 100vw;
      height: 10vw; } }

.space-desktop {
  width: 100vw;
  height: 4vw; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-desktop {
      visibility: collapse; } }

.form {
  -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.8vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.6vw;
  box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.6vw;
  background: #fff;
  border-radius: 3px;
  margin: 12px; }

.title {
  margin: 0;
  padding: 4px; }
  .title p {
    font-size: 3vw;
    color: #848484; }
  .title img {
    width: 18vw;
    overflow: no-display;
    margin: 8px auto 0 auto !important; }

@media only screen and (min-device-width: 0px) and (max-device-width: 568px) {
  .title p {
    font-size: 5vw; }
  .title img {
    width: 50vw;
    overflow: no-display;
    margin: 8px auto 0 auto !important; } }

footer {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: space-between;
  -webkit-align-content: space-between;
  align-content: space-between;
  border-top: solid #bebebe 1px;
  background: #E5E5E5;
  width: 100vw;
  height: 40vw; }
  footer .map {
    width: 50vw;
    height: 40vw; }
  footer .column {
    margin: 4vw;
    float: right; }
    footer .column .contact {
      align-self: flex-start;
      margin: 1vw auto; }
      footer .column .contact p {
        text-align: center !important;
        align-self: center;
        vertical-align: central;
        text-align: center;
        font-size: 1.5vw; }
      footer .column .contact img {
        margin: auto;
        width: 3vw;
        height: 3vw; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: space-between;
    -webkit-align-content: space-between;
    align-content: space-between;
    height: auto; }
    footer .map {
      width: 100vw;
      height: 30vh; }
    footer .column {
      margin: 4vw;
      float: none; }
      footer .column .contact {
        align-self: flex-start;
        margin: 2vh auto; }
        footer .column .contact p {
          font-size: 4vw; }
        footer .column .contact img {
          margin-bottom: 2vh;
          width: 9vw;
          height: 9vw; } }

.copyright {
  display: block;
  text-align: center;
  font-size: .8vw;
  background: #E5E5E5;
  color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  margin: 0 auto 4px auto; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .copyright {
    font-size: 1.2vw; } }

/*#region SideNav */
.side-nav:hover > .link > p {
  color: rgba(96, 96, 96, 0.6); }

.side-nav {
  position: fixed;
  right: .5vw;
  top: 30vh;
  z-index: 100;
  padding: 3vw 1vw 3vw 3vw; }
  .side-nav .link {
    align-content: flex-end !important;
    padding-bottom: 1.3vh;
    margin-left: auto !important; }
    .side-nav .link .bullet {
      background: rgba(18, 18, 18, 0.16);
      height: .7vw;
      width: .7vw;
      margin: auto auto auto .3vw;
      -moz-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      transition: all ease 0.5s;
      -moz-border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
      -webkit-border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
      border-radius: 0.5vw 0.5vw 0.5vw 0.5vw; }
    .side-nav .link p {
      padding-bottom: 3px;
      font-size: 1vw;
      -moz-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      transition: all ease 0.5s;
      color: rgba(96, 96, 96, 0); }
  .side-nav .link:hover .bullet {
    background: #31FF3F;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
  .side-nav .link:hover p {
    font-size: 1.6vw;
    color: #606060;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .side-nav {
    visibility: collapse;
    height: 0;
    width: 0; } }

/*#endregion */
nav {
  z-index: 100;
  position: fixed;
  width: 100vw;
  padding: .6vw;
  overflow-y: hidden;
  background: transparent;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  nav > * {
    z-index: 80;
    margin-left: 10px;
    vertical-align: central;
    overflow-y: hidden; }
  nav .logo {
    flex: 0.2;
    margin: 0 0 0 2vw !important;
    display: flex;
    align-content: center; }
    nav .logo img {
      height: 2vw;
      width: auto;
      margin: 0; }
  nav section.row {
    flex: 3;
    float: right;
    margin-right: 2vw;
    flex-direction: row-reverse !important; }
    nav section.row strong {
      background: blue;
      align-content: center; }
    nav section.row a {
      align-self: center;
      padding: .4vw 1.0vw;
      vertical-align: central;
      font-size: 1.2vw;
      float: right;
      margin-right: 1vw;
      color: #606060;
      overflow-y: hidden;
      -moz-border-radius: 100px 100px 100px 100px;
      -webkit-border-radius: 100px 100px 100px 100px;
      border-radius: 100px 100px 100px 100px;
      -moz-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      -webkit-transition: all ease 0.4s;
      transition: all ease 0.4s; }
      nav section.row a img {
        height: 1.2vw;
        margin: 0 0 0 10px; }
    nav section.row a:hover {
      background: #e0e0e0;
      -moz-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      -webkit-transition: all ease 0.2s;
      transition: all ease 0.2s; }
    nav section.row a:active {
      background: #c2c2c2; }

nav:hover {
  background: rgba(255, 255, 255, 0.68);
  -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.8vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.6vw;
  box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.6vw;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav {
    padding: 1vw;
    background: rgba(255, 255, 255, 0.68);
    -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 1.6vw;
    -webkit-box-shadow: rgba(72, 72, 72, 0.78) 0 0px 1.2vw;
    box-shadow: rgba(72, 72, 72, 0.78) 0 0px 1.2vw; }
    nav .logo {
      flex: .5;
      padding: .5vw; }
    nav section.row {
      flex: 3;
      margin-right: 4vw;
      flex-direction: row-reverse !important; }
      nav section.row a {
        padding: 0.2vw 2vw .8vw 2vw;
        font-size: 2.2vw; }
        nav section.row a img {
          height: 2.0vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav {
    padding: 1vw;
    height: 6vh;
    padding: 1vw;
    background: rgba(255, 255, 255, 0.68);
    -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 1.6vw;
    -webkit-box-shadow: rgba(72, 72, 72, 0.78) 0 0px 1.2vw;
    box-shadow: rgba(72, 72, 72, 0.78) 0 0px 1.2vw; }
    nav .logo {
      flex: 0.5; }
    nav section.row {
      flex: 3;
      margin-right: 4vw;
      flex-direction: row-reverse !important; }
      nav section.row a {
        padding: 0.6vw 3vw 2.5vw 3vw;
        font-size: 4vw; }
        nav section.row a img {
          vertical-align: central;
          height: 3.6vw; }
  section.row {
    flex: 3;
    margin-right: 4vw;
    flex-direction: row-reverse !important; }
    section.row a {
      padding: .8vw 2vw;
      font-size: 4vw; } }

.callToAction {
  width: 30%;
  -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 1.2vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
  box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
  background: #48A839;
  padding: 8px 14px;
  color: #FFFFFF;
  font-size: 1.8vw;
  transition: all ease 0.5s; }

.callToAction:hover {
  background: #60c450;
  transition: all ease 0.25s; }

.callToAction:active {
  background: #83d176;
  transition: all ease 0.25s; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .callToAction {
    width: 50%;
    font-size: 4vw;
    padding: 16px 28px; } }

.submit {
  overflow-y: hidden;
  width: 40%;
  -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 1.2vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
  box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
  background: #48A839;
  padding: .6vw 0.4vw;
  margin-bottom: 1vw;
  color: #FFFFFF;
  font-size: 1.5vw;
  transition: all ease 0.5s; }
  .submit img {
    height: 2vw;
    margin: auto 0.5vw auto auto; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .submit {
    bottom: 0;
    align-self: flex-end;
    width: 60%;
    -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 1.2vw;
    -webkit-box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
    box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
    background: #48A839;
    padding: .8vw 0;
    margin-bottom: 3vw;
    color: #FFFFFF;
    font-size: 5vw;
    transition: all ease 0.5s; }
    .submit img {
      height: 8vw;
      margin: auto 2vw auto auto; } }

.submit:hover {
  background: #60c450;
  transition: all ease 0.25s; }

.submit:active {
  background: #83d176;
  transition: all ease 0.25s; }

.text {
  display: flex;
  flex-direction: column;
  margin: 6px; }
  .text-label {
    font-size: 1.4vw;
    color: #9EE250;
    text-align: right;
    margin: 0 0 .3vw 0; }
  .text-entry {
    flex: 3;
    color: #424245;
    background: rgba(223, 223, 223, 0.85);
    border: none;
    padding: .45vw;
    text-align: right;
    outline: none;
    font-size: 1.4vw;
    resize: none; }
  .text-underline {
    flex: .4;
    background: rgba(192, 192, 192, 0.85);
    transition: all ease .6s; }
  .text-entry:focus + .text-underline {
    background: #9EE250;
    transition: all ease .2s; }
  .text-error {
    flex: 3;
    font-size: 1vw;
    text-align: right;
    margin: 0 0 .3vw 0; }
  .text :-ms-input-placeholder {
    color: #939397; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .text-label {
    font-size: 3.4vw;
    margin: 0 0 .5vw 0; }
  .text-underline {
    flex: .4;
    background: rgba(192, 192, 192, 0.85);
    transition: all ease .6s; }
  .text-entry {
    padding: 1vw;
    font-size: 3.4vw; }
  .text-error {
    font-size: 2.2vw;
    margin: 0 0 .7vw 0; } }

.errorProvider {
  font-size: 1vw; }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-nav-bottom {
  width: 100vw;
  height: 60px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .space-nav {
    width: 100vw;
    height: 7vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-nav {
    width: 100vw;
    height: 14vw; } }

/*#region Alignment */
.column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.row {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.clipped {
  margin-left: auto;
  margin-right: auto;
  width: 84vw; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

/*#region Margin */
.margin-auto-left {
  margin-left: auto; }

.margin-auto-right {
  margin-right: auto; }

.margin-auto-bottom {
  margin-bottom: auto; }

.margin-auto-top {
  margin-top: auto; }

/*#endregion */
.padding {
  padding: 16px !important; }

.hero-image {
  display: block;
  margin: 32px auto;
  width: 20vw; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hero-image {
    width: 32vw; } }

.header {
  display: flex;
  flex-direction: column;
  flex-flow: column; }
  .header h1 {
    font-size: 3.2vw;
    color: #848484;
    text-align: center;
    align-self: center; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .header h1 {
      font-size: 3.8vw;
      color: #848484;
      text-align: center;
      align-self: center; }
    .header .text-secondary {
      font-size: 2vw;
      color: red; } }
  .header .header-decoration {
    color: red; }
  .header img {
    margin: 0 auto; }

.title-service {
  margin-bottom: -4vw; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .text-secondary {
    margin: 8px;
    font-size: 3vw; } }

.text-secondary {
  margin: 5px;
  text-align: center;
  align-content: center;
  align-self: center;
  color: #424245; }

.support {
  top: 86vh;
  padding: 10px;
  margin-left: 3vw;
  position: fixed;
  display: flex;
  z-index: 50; }
  .support .chat {
    transition: all ease 0.5s;
    height: 52px;
    width: 52px;
    border: none;
    background: #48A839;
    display: flex;
    align-content: center;
    -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.8vw;
    -webkit-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.6vw;
    box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.6vw; }
    .support .chat .img {
      transition: all ease 0.5s;
      margin: auto; }
  .support .chat:hover .img {
    transition: all ease 0.25s;
    -moz-filter: drop-shadow(0px 0px 4.5px #fafafa);
    -ms-filter: drop-shadow(0px 0px 4.5px #fafafa);
    -webkit-filter: drop-shadow(0px 0px 4.5px rgba(250, 250, 250, 0.1));
    filter: drop-shadow(0px 0px 4.5px #fafafa); }
  .support .chat:active {
    background: #60c450;
    transition: all ease 0.05s; }
  .support .elevated {
    -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
    -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
    box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
    font-size: 16px;
    padding: 8px;
    margin-top: 14px;
    text-align: center;
    margin-left: 1.5vw;
    min-width: 110px;
    width: 8vw;
    background: #fff;
    color: #848484; }

.vert {
  display: flex;
  vertical-align: central;
  flex-flow: column;
  align-content: center; }

.video {
  background: #d0d0d0;
  height: 60vh;
  -moz-border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
  -webkit-border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
  border-radius: 0.5vw 0.5vw 0.5vw 0.5vw; }

.service {
  width: 100vw;
  overflow-y: hidden; }
  .service .background-svg {
    margin: 0 auto -4px auto !important;
    overflow-y: hidden;
    display: block;
    width: 100vw !important;
    position: relative;
    z-index: -10; }
  .service .service-column {
    background: #ACE170; }
    .service .service-column .bottom {
      margin-top: 3vw;
      padding-bottom: 4vw; }
  .service .service-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-content: center; }
    .service .service-item .item-header {
      margin: 2px 0 16px 0;
      font-size: 1.8vw;
      font-weight: bold;
      color: #FFFFFF; }
    .service .service-item .item-icon {
      height: 5vw;
      margin: 0.5vh; }
    .service .service-item .item-text {
      margin: 5px 0;
      font-size: 1.4vw;
      color: #FFFFFF; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .service .service-column .row {
    display: flex;
    flex-direction: column !important;
    margin: auto !important;
    align-content: center !important;
    align-self: center !important; }
  .service .service-item {
    margin: 3vw auto;
    width: 80%; }
    .service .service-item .item-header {
      font-size: 5.2vw; }
    .service .service-item .item-icon {
      height: 15vw;
      margin: 1vh; }
    .service .service-item .item-text {
      margin: 10px 0;
      font-size: 3.6vw; } }

.waterfall {
  margin: auto auto 1vh auto;
  width: 80vw;
  padding: 2vw 4vw; }
  .waterfall li:nth-child(odd) {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .waterfall li {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    margin-top: 2vw; }
    .waterfall li img {
      flex: 1.2;
      margin: auto;
      height: 20vw; }
    .waterfall li .space {
      flex: .15; }
    .waterfall li content {
      margin: auto;
      flex: 2; }
      .waterfall li content h3 {
        font-size: 1.6vw;
        margin-bottom: .8vw;
        margin-left: auto;
        text-align: right; }
      .waterfall li content p {
        font-size: 1.2vw;
        text-justify: inter-word;
        direction: rtl;
        text-align: justify; }

.owl-carousel {
  overflow-x: hidden;
  overflow-y: hidden; }
  .owl-carousel .owl-dots {
    z-index: 150; }
    .owl-carousel .owl-dots button span {
      min-width: 1.6vw;
      min-height: 1.6vw; }
  .owl-carousel .owl-nav {
    position: absolute;
    visibility: collapse; }

.owl-carousel * {
  overflow-x: hidden;
  overflow-y: hidden;
  outline: none; }

.project {
  margin-top: 3vw;
  padding-bottom: 2.8vw; }
  .project .icon {
    width: 10vw;
    height: 10vw;
    margin-bottom: -6vw;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: hidden; }
    .project .icon img {
      width: 64%; }
  .project .mat {
    width: 60vw;
    margin: 0;
    padding: 4vw 3vw 1vw 4vw;
    -moz-box-shadow: rgba(72, 72, 72, 0.42) 0 0px 3vw;
    -webkit-box-shadow: rgba(72, 72, 72, 0.42) 0 0px 3vw;
    box-shadow: rgba(72, 72, 72, 0.42) 0 0px 3vw; }
    @media only screen and (max-width: 750px) {
      .project .mat {
        width: 65vw; } }
    .project .mat header {
      font-weight: bold;
      display: block;
      text-align: right;
      margin-right: .5vw; }
    .project .mat p {
      font-size: 1.45vw;
      margin-top: 1.5vw;
      text-align: justify;
      text-justify: kashida; }
    .project .mat .row {
      padding: 3vw 0 1vw 0;
      align-content: space-between !important; }
      .project .mat .row .submit {
        align-self: center;
        font-size: 2vw !important;
        padding: .6vw 3vw 1.2vw 3vw;
        width: auto; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .project .icon {
    width: 16vw;
    height: 16vw;
    margin-bottom: -8vw; }
  .project .mat {
    width: 70vw; }
    .project .mat .row .submit {
      font-size: 5vw !important; } }

.workflow img {
  height: 75vh; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .workflow img {
    height: auto;
    width: 85vw; } }

.WhoWeAre {
  width: 100vw;
  margin: auto; }
  .WhoWeAre .description {
    width: 85%;
    font-size: 1.3vw;
    padding-bottom: 1vw;
    text-align: justify;
    text-align-last: center;
    direction: rtl; }
  .WhoWeAre .carousel {
    margin: 3vh auto auto auto;
    width: 85vw; }
    .WhoWeAre .carousel-button {
      position: absolute;
      width: 11vh;
      height: 11vh;
      padding: 3vw 0;
      align-content: center;
      background: rgba(185, 185, 185, 0.32);
      transition: all ease 0.5s; }
      .WhoWeAre .carousel-button img {
        width: 50%;
        align-self: center; }
    .WhoWeAre .carousel-content {
      flex: 1;
      display: flex;
      flex-direction: row; }
      .WhoWeAre .carousel-content .trigger-row {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        align-self: center; }
        .WhoWeAre .carousel-content .trigger-row .staff {
          display: flex;
          margin: 4vw !important;
          flex-direction: column;
          background: #fff;
          height: 30vw;
          width: 18vw;
          -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 1.2vw;
          -webkit-box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
          box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
          border-radius: 4px;
          text-align: right;
          margin: 2vw !important; }
          .WhoWeAre .carousel-content .trigger-row .staff br {
            height: 5px; }
          .WhoWeAre .carousel-content .trigger-row .staff p {
            margin: 8px 12px 4px 0; }
          .WhoWeAre .carousel-content .trigger-row .staff-image {
            flex: 4.8;
            border-radius: 0 0 1.2vw 1.2vw;
            -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 1.2vw;
            -webkit-box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
            box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw; }
          .WhoWeAre .carousel-content .trigger-row .staff-name {
            color: #606060;
            font-weight: 400;
            float: right; }
          .WhoWeAre .carousel-content .trigger-row .staff-description {
            flex: 3;
            font-weight: 300;
            font-size: 1.3vw;
            padding-left: 8px; }
          .WhoWeAre .carousel-content .trigger-row .staff-links {
            display: flex;
            flex-direction: row;
            align-content: space-between; }
            .WhoWeAre .carousel-content .trigger-row .staff-links .icon {
              margin: 8px auto;
              fill: red; }
              .WhoWeAre .carousel-content .trigger-row .staff-links .icon object {
                width: 1.5vw;
                fill: red; }
            .WhoWeAre .carousel-content .trigger-row .staff-links .icon:hover .img {
              fill: #53C41C;
              -moz-filter: drop-shadow(0px 0px 4px #53C41C);
              -ms-filter: drop-shadow(0px 0px 4px #53C41C);
              -webkit-filter: drop-shadow(0px 0px 4px #53C41C);
              filter: drop-shadow(0px 0px 4px #53C41C); }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .WhoWeAre {
    background: #ebebed;
    padding-bottom: 3vw; }
    .WhoWeAre .carousel {
      margin: 3vh auto auto auto;
      width: 100vw; }
      .WhoWeAre .carousel-content {
        flex-direction: column; }
        .WhoWeAre .carousel-content .trigger-row {
          margin: 0 24vw !important; }
          .WhoWeAre .carousel-content .trigger-row .staff {
            height: 76vw;
            width: 45vw; }
            .WhoWeAre .carousel-content .trigger-row .staff p {
              font-size: 4vw;
              margin: 8px 12px 4px 0; }
            .WhoWeAre .carousel-content .trigger-row .staff-image {
              flex: 5;
              border-radius: 0 0 1.2vw 1.2vw;
              -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 1.2vw;
              -webkit-box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
              box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw; }
            .WhoWeAre .carousel-content .trigger-row .staff-name {
              color: #606060;
              font-weight: bold;
              float: right; }
            .WhoWeAre .carousel-content .trigger-row .staff-description {
              flex: 3; }
            .WhoWeAre .carousel-content .trigger-row .staff-links .icon {
              margin: 8px auto;
              fill: red; }
              .WhoWeAre .carousel-content .trigger-row .staff-links .icon object {
                width: 2vw;
                fill: red; } }

.projects .background-svg {
  /*height: 84.5vh;*/
  position: absolute;
  width: 108vw;
  z-index: -10; }

.projects-content {
  margin: 4vw 6vw 0 6vw;
  align-content: space-between; }
  .projects-content-form {
    height: 20vw;
    width: 16vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 4vw; }
    .projects-content-form img {
      flex: 3; }
    .projects-content-form .link {
      flex: 1;
      margin: 0 auto 0 auto;
      width: unset !important;
      padding: 6px 10px;
      vertical-align: central;
      align-self: center; }
  .projects-content-metro {
    flex: 3;
    width: 30vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-content: space-around; }
    .projects-content-metro img {
      -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 1.2vw;
      -webkit-box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
      box-shadow: rgba(72, 72, 72, 0.64) 0 0px 0.8vw;
      border-radius: 4px;
      margin: 0.8vw; }
    .projects-content-metro .TopLeft {
      align-self: flex-end;
      flex: 3;
      /*width: 38vw;*/
      height: 16vw; }
    .projects-content-metro .TopRight {
      flex: 2;
      align-self: flex-end;
      height: 14vw;
      margin-right: 12vw; }
    .projects-content-metro .BottomLeft {
      align-self: flex-start;
      margin-left: 9vw;
      flex: 2;
      height: 12vw; }
    .projects-content-metro .BottomRight {
      align-self: flex-end;
      flex: 3;
      height: 14vw; }

.group .query {
  display: flex;
  flex-direction: row;
  height: 9vw;
  width: 30vw;
  overflow: hidden; }
  .group .query-image {
    align-self: center;
    flex: .6;
    margin-left: 10px; }
  .group .query-text {
    font-size: 1.8vw;
    align-self: center;
    text-align: right;
    flex: 6; }

@media only screen and (min-device-width: 0px) and (max-device-width: 568px) {
  .group {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }
    .group .query {
      min-height: 12vh;
      width: 70vw;
      margin-bottom: 2vh;
      height: auto; }
      .group .query-image {
        flex: 1.2;
        margin-left: 3vw; }
      .group .query-text {
        font-size: 5vw;
        align-self: center;
        text-align: right;
        flex: 6; } }

.start {
  width: 72vw;
  /*background: lightcoral;*/
  margin: auto; }
  .start .aligner {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-content: space-between;
    -webkit-align-content: space-between;
    align-content: space-between; }
  .start .text {
    height: 4.4vw !important; }
  .start-form {
    z-index: 10;
    height: 34vw;
    padding: 2vw;
    width: 24vw;
    overflow-y: hidden; }
  .start-items {
    /*background: rgba(172, 225, 112, 0.32);*/
    width: 42vw;
    margin-left: -4vw; }
    .start-items-item {
      text-align: right;
      align-self: flex-end;
      font-size: 1.2vw;
      font-weight: 500;
      margin: 0 0 1.5vw 0;
      width: 80%;
      padding: .9vw 1.1vw;
      background: rgba(223, 223, 223, 0.85);
      color: rgba(141, 141, 141, 0.85);
      transition: all ease 0.6s; }
    .start-items-item-hover {
      text-align: right;
      align-self: flex-end;
      font-size: 1.2vw;
      font-weight: 500;
      margin: 0 0 1.5vw 0;
      padding: .9vw 1.1vw;
      width: 92%;
      background: #48A839;
      color: #FFFFFF;
      transition: all ease 0.3s; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .start {
    width: 100vw; }
    .start .aligner {
      display: flex;
      -ms-flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -ms-align-content: space-between;
      -webkit-align-content: space-between;
      align-content: space-between; }
    .start-form {
      height: 90vw;
      padding: 3vw 4vw;
      width: 70vw;
      margin: 12px 8vw; }
      .start-form .text {
        height: 12vw !important;
        margin-top: 10px; }
        .start-form .text-label {
          font-size: 3.4vw;
          color: #9EE250;
          text-align: right;
          margin: 0 0 .3vw 0; }
        .start-form .text-entry {
          flex: 3;
          color: #424245;
          background: rgba(223, 223, 223, 0.85);
          border: none;
          padding: 2.2vw;
          text-align: right;
          outline: none;
          font-size: 4.5vw; }
        .start-form .text-underline {
          flex: 1;
          height: 8px;
          background: rgba(192, 192, 192, 0.85);
          transition: all ease .6s; }
        .start-form .text-entry:focus + .text-underline {
          background: #9EE250;
          transition: all ease .2s; }
      .start-form .submit {
        width: 24vw;
        height: 8vw;
        font-size: 6vw;
        margin: auto; }
    .start-items {
      width: 80vw;
      margin: 12px auto; }
      .start-items-item {
        font-size: 4.5vw;
        margin: 0 auto 2vw auto;
        width: 100%;
        padding: 1.5vw 2vw;
        text-align: center; }
      .start-items-item-hover {
        width: 100%; } }

.cards {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  overflow: visible !important; }
  .cards .mat {
    margin: auto !important;
    width: 280px;
    overflow: hidden; }
    .cards .mat img {
      flex: 1;
      object-fit: contain;
      max-height: 180px; }
    .cards .mat content {
      flex: 1;
      overflow: hidden; }
      .cards .mat content * {
        overflow: hidden; }
      .cards .mat content li label {
        font-size: small; }
      .cards .mat content h6 {
        font-size: medium; }
      .cards .mat content a {
        font-size: small; }
      .cards .mat content a:visited {
        color: #34C9B5; }
      .cards .mat content .price {
        color: #65d74f;
        font-size: 20px; }
      .cards .mat content .toman {
        font-size: 12px;
        color: #65d74f; }

@media only screen and (max-device-width: 480px) {
  .cards {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    overflow: visible !important; }
    .cards .mat {
      margin: auto !important;
      width: 280px;
      height: 360px;
      overflow: hidden; }
      .cards .mat img {
        flex: 1;
        object-fit: contain; }
      .cards .mat content {
        flex: 1;
        overflow: hidden; }
        .cards .mat content * {
          overflow: hidden; }
        .cards .mat content li label {
          font-size: small; }
        .cards .mat content h6 {
          font-size: medium; }
        .cards .mat content a {
          font-size: small; }
        .cards .mat content a:visited {
          color: #34C9B5; }
        .cards .mat content .price {
          color: #65d74f;
          font-size: 20px; }
        .cards .mat content .toman {
          font-size: 8px;
          color: #65d74f; } }

@media only screen and (max-width: 825px) {
  .cards {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    overflow: visible !important; }
    .cards .mat {
      margin: auto !important;
      width: 180px;
      height: 250px;
      overflow: hidden; }
      .cards .mat img {
        flex: 1;
        object-fit: contain; }
      .cards .mat content {
        flex: 1;
        overflow: hidden; }
        .cards .mat content * {
          overflow: hidden; }
        .cards .mat content li label {
          font-size: small; }
        .cards .mat content h6 {
          font-size: medium; }
        .cards .mat content a {
          font-size: small; }
        .cards .mat content a:visited {
          color: #34C9B5; }
        .cards .mat content .price {
          color: #65d74f;
          font-size: 20px; }
        .cards .mat content .toman {
          font-size: 8px;
          color: #65d74f; } }

.coop {
  align-content: center; }
  .coop-form {
    padding: 1vw;
    align-self: center;
    margin: .6vw auto !important;
    width: 20vw;
    height: 30vw; }

@media only screen and (max-device-width: 568px) {
  .coop-form {
    padding: 4vw;
    width: 50vw;
    height: 65vw;
    margin: 6vw auto !important; } }
