/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-nav-bottom {
  width: 100vw;
  height: 80px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .space-nav {
    width: 100vw;
    height: 7vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-nav {
    width: 100vw;
    height: 14vw; } }

/*#region Alignment */
.column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.row {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.clipped {
  margin-left: auto;
  margin-right: auto;
  width: 84vw; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

/*#region Margin */
.margin-auto-left {
  margin-left: auto; }

.margin-auto-right {
  margin-right: auto; }

.margin-auto-bottom {
  margin-bottom: auto; }

.margin-auto-top {
  margin-top: auto; }

/*#endregion */
.padding {
  padding: 16px !important; }

.MainContent {
  height: 100%; }

#bigP, .bigP-container {
  font-size: 16px !important;
  text-align: justify;
  -ms-text-justify: kashida;
  text-justify: kashida;
  overflow-y: hidden; }
  #bigP > *, .bigP-container > * {
    font-size: 16px; }
  #bigP *, .bigP-container * {
    overflow-y: hidden !important; }

#modal-more {
  text-align: justify;
  -ms-text-justify: kashida;
  text-justify: kashida; }
  #modal-more * {
    overflow: hidden; }
  #modal-more > div {
    width: 80vw; }

.cards {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  overflow: visible !important; }
  .cards .mat {
    margin: auto !important;
    width: 280px;
    overflow: hidden; }
    .cards .mat img {
      flex: 1;
      object-fit: contain;
      max-height: 180px; }
    .cards .mat content {
      flex: 1;
      overflow: hidden; }
      .cards .mat content * {
        overflow: hidden; }
      .cards .mat content li label {
        font-size: small; }
      .cards .mat content h6 {
        font-size: medium; }
      .cards .mat content a {
        font-size: small; }
      .cards .mat content a:visited {
        color: #34C9B5; }
      .cards .mat content .price {
        color: #65d74f;
        font-size: 20px; }
      .cards .mat content .toman {
        font-size: 12px;
        color: #65d74f; }

@media only screen and (max-device-width: 480px) {
  .cards {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    overflow: visible !important; }
    .cards .mat {
      margin: auto !important;
      width: 280px;
      height: 360px;
      overflow: hidden; }
      .cards .mat img {
        flex: 1;
        object-fit: contain; }
      .cards .mat content {
        flex: 1;
        overflow: hidden; }
        .cards .mat content * {
          overflow: hidden; }
        .cards .mat content li label {
          font-size: small; }
        .cards .mat content h6 {
          font-size: medium;
          width: 280px !important;
          text-align: center !important; }
        .cards .mat content a {
          font-size: small; }
        .cards .mat content a:visited {
          color: #34C9B5; }
        .cards .mat content .price {
          color: #65d74f;
          font-size: 20px; }
        .cards .mat content .toman {
          font-size: 8px;
          color: #65d74f; } }

@media only screen and (max-width: 825px) {
  .cards {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    overflow: visible !important; }
    .cards .mat {
      margin: auto !important;
      width: 180px;
      height: 250px;
      overflow: hidden; }
      .cards .mat img {
        flex: 1;
        object-fit: contain; }
      .cards .mat content {
        flex: 1;
        overflow: hidden; }
        .cards .mat content * {
          overflow: hidden; }
        .cards .mat content li label {
          font-size: small; }
        .cards .mat content h6 {
          font-size: medium; }
        .cards .mat content a {
          font-size: small; }
        .cards .mat content a:visited {
          color: #34C9B5; }
        .cards .mat content .price {
          color: #65d74f;
          font-size: 20px; }
        .cards .mat content .toman {
          font-size: 8px;
          color: #65d74f; } }

.WP1 {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  overflow: visible;
  width: 92vw; }
  .WP1 * {
    overflow: hidden; }
  .WP1 .mat {
    width: 30vw;
    margin: auto !important;
    height: 25vw; }
    .WP1 .mat p {
      text-align: justify;
      -ms-text-justify: inter-word !important;
      text-justify: inter-word !important;
      direction: rtl;
      font-size: 16px; }
  .WP1 img {
    flex: 1;
    object-fit: contain;
    overflow: hidden;
    padding: 20px !important; }
  .WP1 .divider {
    flex: .08;
    height: 5px;
    background: transparent; }
  .WP1 content {
    flex: 2; }
    .WP1 content > * {
      margin-right: 30px; }
    .WP1 content h4 {
      font-size: 19px; }
    .WP1 content div > button {
      background: #66BB6A;
      padding: 8px;
      font-size: large;
      border: 0;
      width: 160px;
      color: white;
      opacity: 1;
      transition: 0.3s; }
    .WP1 content button:hover {
      opacity: 0.7; }
    .WP1 content .price {
      color: #65d74f;
      font-size: 26px; }
    .WP1 content .toman {
      font-size: 10px;
      color: #65d74f; }

@media only screen and (max-device-width: 568px) {
  .WP1 {
    margin-top: 80px;
    display: flex;
    padding: 0;
    flex-direction: column; }
    .WP1 * {
      overflow: hidden; }
    .WP1 .mat {
      width: 100%;
      margin: auto !important;
      height: 500px; }
      .WP1 .mat p {
        text-align: justify;
        -ms-text-justify: inter-word !important;
        text-justify: inter-word !important;
        direction: rtl;
        font-size: 30px; }
    .WP1 img {
      flex: 1;
      object-fit: contain;
      overflow: hidden; }
    .WP1 .divider {
      flex: 2;
      min-height: 26px;
      height: 100px; }
    .WP1 content {
      flex: 1; }
      .WP1 content > * {
        margin-right: 30px; }
      .WP1 content h4 {
        font-size: 34px; }
      .WP1 content div > button {
        width: 160px;
        color: white;
        opacity: 1;
        transition: 0.3s;
        font-size: 26px; }
      .WP1 content button:hover {
        opacity: 0.7; }
      .WP1 content .price {
        color: #65d74f;
        font-size: 30px; }
      .WP1 content .toman {
        font-size: 12px;
        color: #65d74f; } }

.wp1content {
  width: 92vw !important;
  margin: auto; }
  .wp1content progress::-moz-progress-bar {
    background-color: #EEE; }
  .wp1content progress::-webkit-progress-bar {
    background-color: #EEE; }
  .wp1content progress::-webkit-progress-value {
    background-color: #66BB6A; }
  .wp1content progress {
    width: 400px;
    height: 20px;
    border-radius: 20px;
    color: blue; }
  .wp1content p {
    text-align: justify;
    -ms-text-justify: inter-word !important;
    text-justify: inter-word !important;
    direction: rtl;
    font-size: 16px; }
  .wp1content * {
    overflow: hidden; }
  .wp1content label {
    font-size: 14px; }
  .wp1content .amount {
    color: #66BB6A; }
  .wp1content li {
    padding: 10px;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }
    .wp1content li span {
      margin-right: 10px;
      font-size: 16px; }
  .wp1content div > button {
    background: #66BB6A;
    padding: 8px;
    font-size: large;
    border: 0;
    width: 160px;
    color: white;
    opacity: 1;
    transition: 0.3s; }
  .wp1content button:hover {
    opacity: 0.7; }

@media only screen and (max-device-width: 568px) {
  .wp1content {
    padding: 0px; }
    .wp1content h4 {
      font-size: 34px; }
    .wp1content p {
      text-align: justify;
      -ms-text-justify: inter-word !important;
      text-justify: inter-word !important;
      direction: rtl;
      font-size: 30px; }
    .wp1content * {
      overflow: hidden; }
    .wp1content progress {
      width: 680px;
      height: 20px;
      background: blue;
      border-radius: 20px;
      margin: 14px 0 0 0; }
    .wp1content label {
      font-size: 24px; }
    .wp1content .amount {
      color: #66BB6A; }
    .wp1content li {
      padding: 10px;
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      -ms-align-content: center;
      -webkit-align-content: center;
      align-content: center; }
      .wp1content li span {
        margin-right: 10px;
        font-size: 26px; }
    .wp1content div > button {
      background: #66BB6A;
      padding: 8px;
      font-size: 26px;
      border: 0;
      width: 160px;
      color: white;
      opacity: 1;
      transition: 0.3s; }
    .wp1content button:hover {
      opacity: 0.7; } }

#order button {
  background: #66BB6A;
  padding: 8px;
  font-size: large;
  border: 0;
  width: 160px;
  color: white;
  opacity: 1;
  transition: 0.3s; }

#order button:hover {
  opacity: 0.7; }

@media only screen and (max-device-width: 568px) {
  #order button {
    background: #66BB6A;
    padding: 8px;
    font-size: 26px;
    border: 0;
    width: 160px;
    color: white;
    opacity: 1;
    transition: 0.3s; } }
