/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-nav-bottom {
  width: 100vw;
  height: 64px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .space-nav {
    width: 100vw;
    height: 7vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-nav {
    width: 100vw;
    height: 14vw; } }

/*#region Alignment */
.column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.row {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.clipped {
  margin-left: auto;
  margin-right: auto;
  width: 84vw; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

/*#region Margin */
.margin-auto-left {
  margin-left: auto; }

.margin-auto-right {
  margin-right: auto; }

.margin-auto-bottom {
  margin-bottom: auto; }

.margin-auto-top {
  margin-top: auto; }

/*#endregion */
.padding {
  padding: 16px !important; }

* {
  overflow-y: hidden; }

html {
  overflow-y: visible !important; }

.card {
  background: #fff;
  padding: 2vw 3vw 2vw 3vw;
  width: 64vw; }
  .card header {
    font-size: 2.4vw;
    text-align: right;
    margin-bottom: 16px; }
  .card p {
    margin-top: 10px;
    text-align: right;
    font-size: 1.2vw;
    text-align: justify; }

.main {
  width: 70vw; }
  .main > img {
    flex: 1;
    margin-right: 8px;
    -o-object-fit: cover;
    object-fit: cover; }
  .main .card {
    padding: 2vw 3vw 2vw 3vw;
    flex: 1; }
    .main .card ul li {
      text-decoration: solid;
      list-style-type: circle;
      margin: 3px;
      font-size: 1.2vw;
      text-align: right; }
    .main .card .submit {
      margin-top: 2vw;
      font-size: 2.2vw;
      align-self: flex-end; }

.screenshots {
  width: 70vw;
  height: 50vw; }
  .screenshots img {
    margin-right: 8px;
    flex: 1; }
  .screenshots .column {
    flex: 1; }
    .screenshots .column .column:first-child {
      margin-bottom: 60px !important; }
    .screenshots .column img {
      flex: 1; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    width: 89vw; }
  .main {
    width: 95vw; }
    .main ul li {
      font-size: 2vw; }
  .screenshots {
    width: 95vw; } }
