/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

* {
  margin: 0;
  padding: 0;
  float: none;
  overflow-x: hidden;
  font-family: IRANYekan, 'Segoe UI';
  line-height: 1.6;
  text-decoration: none;
  font-size: 2vw; }

html {
  scroll-behavior: smooth;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  html ::-webkit-scrollbar {
    width: 1vw;
    min-width: 6px; }
  html ::-webkit-scrollbar-track {
    background: #e0e0e4; }
  html ::-webkit-scrollbar-thumb {
    background: #81cfe8; }
  html ::-webkit-scrollbar-thumb:hover {
    background: #acdff0;
    transition: all ease 0.2s; }

p {
  overflow-x: hidden;
  overflow-y: hidden;
  color: #606060; }

h1, h2, h3, h4, h5, h6, label, p, header {
  overflow-y: hidden !important; }

body {
  background: #F0F0F2;
  min-height: 100vh !important; }

.center {
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto; }

button {
  outline: none;
  cursor: pointer; }

.alert {
  flex: 1;
  color: #FF2E2E; }

.visible {
  visibility: visible; }

.collapsed {
  height: 0 !important;
  width: 0 !important;
  flex: 0 !important; }

.hidden {
  visibility: hidden; }

.absolute {
  position: absolute; }

.unselectable {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important; }

img {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  pointer-events: none !important; }

.link {
  color: #34C9B5;
  text-decoration: none; }

.link:hover {
  color: #aceae1; }

.link:active {
  color: #a5de9c; }

.dummy {
  width: 100px;
  height: 100px;
  background: red; }

.uk-notification-message div {
  font-size: 20px !important;
  text-align: right;
  direction: rtl; }

.space-mobile {
  visibility: collapse; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-mobile {
      width: 100vw;
      height: 10vw; } }

.space-desktop {
  width: 100vw;
  height: 4vw; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-desktop {
      visibility: collapse; } }

.form {
  -moz-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.8vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.6vw;
  box-shadow: rgba(72, 72, 72, 0.54) 0 0px 0.6vw;
  background: #fff;
  border-radius: 3px;
  margin: 12px; }

.title {
  margin: 0;
  padding: 4px; }
  .title p {
    font-size: 3vw;
    color: #848484; }
  .title img {
    width: 18vw;
    overflow: no-display;
    margin: 8px auto 0 auto !important; }

@media only screen and (min-device-width: 0px) and (max-device-width: 568px) {
  .title p {
    font-size: 5vw; }
  .title img {
    width: 50vw;
    overflow: no-display;
    margin: 8px auto 0 auto !important; } }

.copyright {
  display: block;
  text-align: center;
  font-size: .8vw;
  background: #E5E5E5;
  color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  margin: 0 auto 4px auto; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .copyright {
    font-size: 1.2vw; } }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-nav-bottom {
  width: 100vw;
  height: 80px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .space-nav {
    width: 100vw;
    height: 7vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-nav {
    width: 100vw;
    height: 14vw; } }

/*#region Alignment */
.column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.row {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.clipped {
  margin-left: auto;
  margin-right: auto;
  width: 84vw; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

/*#region Margin */
.margin-auto-left {
  margin-left: auto; }

.margin-auto-right {
  margin-right: auto; }

.margin-auto-bottom {
  margin-bottom: auto; }

.margin-auto-top {
  margin-top: auto; }

/*#endregion */
.padding {
  padding: 16px !important; }

.text-align-center {
  text-align: center !important; }

table {
  direction: rtl;
  border-spacing: 0px; }
  table tr, table td {
    text-align: right;
    border-left: 1px solid #ccc;
    color: #3e3e3e; }
  table td {
    border-top: 1px solid #ccc; }
  table thead th {
    padding: 16px;
    font-size: 20px;
    background: #4a4a4a;
    color: #fff; }
  table tbody td {
    padding: 12px;
    font-size: 18px;
    border-right: 1px solid #ccc; }
  table tbody img {
    width: 100%;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center; }
  table tfoot td {
    padding: 16px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #ff0000; }

.table-striped tr:nth-child(2n-1) {
  background: #fff; }

.table-striped tr:nth-child(2n) {
  background: #f6f6f6; }
