<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>درباره</title>

    <link href="../Styles/about.css" rel="stylesheet" />
    <link rel="icon" href="../Resources/Svg/favIcon.svg" />


    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="../Scripts/About.js"></script>
    <script src="../Scripts/General.js"></script>

    <script src="../Scripts/Jquery/jquery-3.5.1.js"></script>
    <script src="../JsDecoder/BjaxLib.js"></script>
    <script src="../JsDecoder/HelpJore.js"></script>

    <!-- #region Out -->
    <!--BEGIN RAYCHAT CODE-->
    <script type="text/javascript">!function () { function t() { var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, localStorage.getItem("rayToken") ? t.src = "https://app.raychat.io/scripts/js/" + o + "?rid=" + localStorage.getItem("rayToken") + "&href=" + window.location.href : t.src = "https://app.raychat.io/scripts/js/" + o; var e = document.getElementsByTagName("script")[0]; e.parentNode.insertBefore(t, e) } var e = document, a = window, o = "c7fb7266-6925-40ea-b67e-3289472d3be9"; "complete" == e.readyState ? t() : a.attachEvent ? a.attachEvent("onload", t) : a.addEventListener("load", t, !1) }();</script>
    <!-- Hotjar Tracking Code for https://www.arvintavco.com -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1868546, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');

/**/</script>
    <!-- #endregion -->
</head>
<body>
    <!-- #region Side-nav -->
    <aside class="side-nav column">
        <a href="#about" class="link row">
            <p>درباره ما</p>
            <div class="bullet"></div>
        </a>
        <a href="#media" class="link row">
            <p>شبکه های اجتماعی</p>
            <div class="bullet"></div>
        </a>
        <a href="#where" class="link row">
            <p>کجا</p>
            <div class="bullet"></div>
        </a>
        <a href="#email" class="link row">
            <p>درخواست مشاوره</p>
            <div class="bullet"></div>
        </a>
    </aside>
    <!-- #endregion -->
    <!-- #region Nav -->

    <nav class="row">
        <a href="Landing.html" class="logo">
            <img class="fillheight center" src="/Resources/Svg/ArvinTavLogo.svg" />
        </a>
        <section class="row">
            <a href="Landing.html" class="row">
                خانه
                <img src="/Resources/Svg/Icons/Home.svg" class="center" />
            </a>
            <a href="About.html">درباره ما</a>
        </section>
    </nav>

    <!-- #endregion -->
    <div class="space"></div>
    <div class="space-half"></div>
    <div class="space-mobile"></div>

    <!-- #region About -->

    <div class="title center">
        <a name="about"></a>
        <p class="center">در باره ما</p>
        <img src="../Resources/Svg/Underline_1.svg" />
    </div>

    <p class="center description">
        تیم برنامه نویسی ایده پرداز آروین تاو
        <br />
        شرکت ایده پرداز آروین تاو با پشتوانه ی تخصص اعضا و تیم 
        های اجرایی متخصص خود در حوزه فناوری اطلاعات، تجارت الکترونیکی، طراحی و توسعه وب سایت های اختصاصی و 
        عملیاتی، برنامه نویسی و توسعه انواع نرم افزار های تحت وب و تحت ویندوز و تحت موبایل( اندروید و IOS)
        با بروز ترین تکنولوژی های روز دنیا و با هدف 
        الکترونیکی کردن کسب و کارها و 
        یکپارچه سازی تمامی این فعالیت ها با تشکیل تیمهای قدرتمند و متخصص سعی بر این دارد زیر ساختهایی را بوجود 
        آورد که مردم و کسب و کارها از مزیت های تکنولوژی و تجارت الکترونیکی به ساده ترین شکل ممکن بهره مند 
        شوند و در هزینه های خود بطور چشمگیری صرفه جویی کنند شرکت ایده پرداز آروین تاو برای هر یک از خواسته 
        های شما تیم های قدرتمندی متشکل از برنامه نویسان حرفه ای تدارک دیده است تا به تمامی اهداف شما جامه 
        عمل بپوشاند و شما را در رسیدن به اهدافتان یاری نماید و همچنین با از بین بردن مرزهای جغرافیای دایره
        مشتریانتان را گسترش دهد درحالی که بطور قابل توجهی تا 80% از هزینه های اضافی شما را کاهش میدهد
    </p>

    <!-- #endregion -->

    <div class="space"></div>
    <a name="media"></a>
    <div class="space-half"></div>

    <!-- #region SocialMedia -->


    <div class="title center">
        <p class="center">شبکه های اجتماعی</p>
        <img src="../Resources/Svg/Underline_2.svg" />
    </div>

    <div class="space-half"></div>

    <div class="center row">
        <div class="media ">
            <img class="media-icon" src="../Resources/Svg/Telegram.svg">
            <a href="@arvin_tav_co" class="link media-link">@arvin_tav_co</a>
        </div>
        <div class="media">
            <img class="media-icon" src="../Resources/Svg/Instagram.svg">
            <a href="https://www.instagram.com/arvin.tav.co/?hl=en" class="link media-link">@arvin.tav.co</a>
        </div>
        <div class="media">
            <img class="media-icon" src="../Resources/Svg/WhatsApp.svg">
            <a class="link media-link">+989145016607</a>
        </div>
    </div>


    <!-- #endregion -->
    <a name="where"></a>

    <div class="space"></div>

    <!-- #region WHere -->

    <div class="title center">
        <p class="center">کجا</p>
        <img src="../Resources/Svg/Underline_3.svg" />
    </div>

    
    <iframe class="map"
            frameborder="0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3140.737504409133!2d46.30713261520968!3d38.07649387970567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401a052af04f17a7%3A0x1d32d4238cb5b126!2zRWFzdCBBemVyYmFpamFuIFByb3ZpbmNlLCBUYWJyaXosIFBvbCAtZS0gU2FuZ2ksIEFsbGFtZWggVGFiYXRhYmFpLCDYqNix2Kwg2LnZhdin2LHYqiDYtdio2Kdf2LTYsdqp2Kog2LPYp9iu2KrYp9ix2LPYp9iy2Ycg2KrYqNix24zYstiMIElyYW4!5e0!3m2!1sen!2snl!4v1600765196863!5m2!1sen!2snl"></iframe>
    <!-- #endregion -->

    <div class="space-half"></div>

    <!-- #region Contact -->

    <div class="column center">
        <div class="contact">
            <img src="../Resources/Svg/Location.svg" class="contact-icon" />
            <p class="contact-info">
                دفتر مرکزی : تبریز - چایکنار - بعد از پل منصور به سمت آبرسان - ساختمان عمارت صبا - طبقه همکف غربی
            </p>
        </div>
        <div class="contact">
            <img src="../Resources/Svg/Phone.svg" class="contact-icon" />
            <p class="contact-info">+98 - 041 - 33371059 - 33373556</p>
        </div>
        <div class="contact">
            <img src="../Resources/Svg/Mail.svg" class="contact-icon" />
            <p class="contact-info">info@arvintavco.com</p>
        </div>
        <div class="contact">
            <img src="../Resources/Svg/CellPhone.svg" class="contact-icon" />
            <p class="contact-info">+980914 501 6607</p>
        </div>
    </div>

    <!-- #endregion -->

    <div class="space"></div>
    <a name="email"></a>

    <!-- #region Email -->
    <div class="title center">
        <p class="center">درخواست مشاوره</p>
        <img src="../Resources/Svg/Underline_4.svg" />
    </div>

    <div class="space-half"></div>



    <div class="form email column center">
        <div class="text">
            <label class="text-label">نام و نام خانوادگی</label>
            <input id="txtName" type="text" class="text-entry" placeholder="نام و نام خانوادگی شما" />
            <div class="text-underline"></div>
        </div>
        <!--<div class="text">
            <label class="text-label">شرکت</label>
            <input id="txtCompany" type="text" class="text-entry" placeholder="نام شرکت/فروشگاه/سازمان" />
            <div class="text-underline"></div>
        </div>-->
        <div class="text">
            <label class="text-label">ایمیل</label>
            <input id="txtEmail" type="email" class="text-entry" placeholder="mhm@mail.com" />
            <div class="text-underline"></div>
        </div>
        <div class="text" id="text">
            <label class="text-label">متن</label>
            <textarea id="txtText" type="text" class="text-entry" placeholder="متن شما"></textarea>
            <div class="text-underline"></div>
        </div>

        <!-- در صورت وجود ارور یا مشکل کلاس Hidden را از این پاراگراف بردارید -->
        <p class="errorProvider alert center hidden">مشکلی پیش آمده</p>

        <div class="submit center unselectable" onclick="SubmitHelp()">ثبت</div>

    </div>

    <!-- #endregion -->

    <div class="space-double"></div>

    <p class="copyright center">Copyright ideh pardaz arvin tav</p>


    <script>
        window.sr = ScrollReveal();
        sr.reveal('nav', {
            duration: 1600,
            origin: 'top',
            distance: '50px'
        });
        window.sr = ScrollReveal();
        sr.reveal('div', {
            duration: 1600,
            origin: 'bottom'
        });
        sr.reveal('.description', {
            duration: 1600,
            origin: 'bottom'
        });
    </script>

</body>
</html>
