<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>دیجیتال مارکتینگ</title>

    <link href="/Styles/Table.min.css" rel="stylesheet" />
    <link href="/Styles/Controls.min.css" rel="stylesheet" />
</head>
<body>
    <!-- #region Nav -->

    <nav class="row">
        <a href="/View/Landing.html" class="logo">
            <img class="fillheight center" src="/Resources/Svg/ArvinTavLogo.svg" />
        </a>
        <section class="row">
            <a href="/View/Landing.html" class="row">
                خانه
                <img src="/Resources/Svg/Icons/Home.svg" class="center" />
            </a>
            <a href="/View/About.html">درباره ما</a>
            <a href="/View/DigitalMarketing.html">دیجیتال مارکتینگ</a>
            <a href="/View/order/order.html">آموزش آنلاین</a>
            <a href="/View/WebsiteOrders.html">طراحی وب سایت</a>
        </section>
    </nav>

    <!-- #endregion -->

    <div class="space"></div>
    <div class="space-half"></div>
    <div class="space-mobile"></div>
    <table class="padding mat clipped center table-striped">
        <thead>
            <tr>
                <th>نوع خدمات</th>
                <th class="text-align-center">پکیج برنز</th>
                <th class="text-align-center">پکیج سیلور</th>
                <th class="text-align-center">پکیج گلد</th>
                <th class="text-align-center">پکیج الماس</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    جلسه بررسی نیازمندی کسب و کار
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    جلسه تحلیل نتایج کسب و کار
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    جلسه مشاوره تولید محتوا (Content Marketing)
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی پنل Google Adwords
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی و مدیریت کمپین آنلاین
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    سئو On Page
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    سئو Off Page
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    تعداد لغات کلیدی
                </td>
                <td class="text-align-center">
                    5
                </td>
                <td class="text-align-center">
                    6
                </td>
                <td class="text-align-center">
                    7
                </td>
                <td class="text-align-center">
                    8
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی پنل Google Analytics
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی پنل Web Master
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ساخت شکبه های اجتماعی LinkedIn Instagram Facebook
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    یکپارچه سازی Google Map
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    درج محتوا در سایت
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    10 صفحه در دوره
                </td>
                <td>
                    15 صفحه در دوره
                </td>
                <td>
                    20 صفحه در دوره
                </td>
            </tr>
            <tr>
                <td>
                    مدیریت گفت و گوهای وب سایت
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ایجاد لینک داخلی
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    بهینه سازی جیتیمتریکس (Gtmetrix)
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    تولید و درج محتوا در سایت
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td class="text-align-center">
                    5 صفحه در دوره
                </td>
                <td class="text-align-center">
                    10 صفحه در دوره
                </td>
            </tr>
            <tr>
                <td>
                    DRM مدیریت ارتباط اختصاصی
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    تولید محتوا در اینستاگرام
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td class="text-align-center">
                    3 پست در دوره
                </td>
                <td class="text-align-center">
                    7 پست در دوره
                </td>
            </tr>
            <tr>
                <td>
                    مشاوره درج اطلاعات در اینستاگرام
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td class="text-align-center">
                    2 بار در دوره
                </td>
                <td class="text-align-center">
                    هر ماه تا پایان دوره
                </td>
            </tr>
            <tr>
                <td>
                    ارائه برنامه و خط مشی ایمیل مارکتینگ
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ارائه طرح گرافیکی و قالب ایمیل مارکتینگ
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ساخت لندینگ پیج
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی وبلاگ
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    Guest Blogging
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ساخت اینفوگرافیک
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td class="text-align-center">
                    3 عدد در دوره
                </td>
                <td class="text-align-center">
                    6 عدد در دوره
                </td>
            </tr>
            <tr>
                <td>
                    تست A/B
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    تحلیل و طراحی Call To Action
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ارائه گزارش کتبی از وضعیت در آخر دوره
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ارائه گزارش ماهیانه با استفاده از ابزارهای مرتبط Analytic Alexa Trend
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ارائه گزارش تحلیلی از وضعیت فنی وب سایت با Google Webmaster
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="/Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    طول دوره
                </td>
                <td class="text-align-center">
                    1 ماه
                </td>
                <td class="text-align-center">
                    3 ماه
                </td>
                <td class="text-align-center">
                    3 ماه
                </td>
                <td class="text-align-center">
                    6 ماه
                </td>
            </tr>
            <tr>
                <td>
                    مدت زمان نفرساعت کارشناس در طول هر دوره
                </td>
                <td class="text-align-center">
                    30 ساعت
                </td>
                <td class="text-align-center">
                    120 ساعت
                </td>
                <td class="text-align-center">
                    210 ساعت
                </td>
                <td class="text-align-center">
                    900 ساعت
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    قیمت - ریال
                </td>
                <td>
                    12,500,00
                </td>
                <td>
                    44,500,000
                </td>
                <td>
                    90,500,000
                </td>
                <td>
                    225,000,000
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="space"></div>

    <footer>
        <div class="column">
            <iframe class="map"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=46.30823940038682%2C38.07588052999462%2C46.31029397249222%2C38.077060804656924&amp;layer=mapnik&amp;marker=38.076470669706765%2C46.309266686439514" frameborder="0"
                    aria-hidden="false"></iframe>
        </div>
        <div class="column">
            <ul>
                <li>
                    <div class="contact">
                        <span>
                            تبریز - چایکنار - بعد از پل منصور به سمت آبرسان - ساختمان عمارت صبا - طبقه همکف غربی
                        </span>
                        <img src="/Resources/Svg/Location.svg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="contact">
                        <span>
                            +98 - 041 / 33371059 / 33373556
                        </span>
                        <img src="/Resources/Svg/Phone.svg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="contact">
                        <span>
                            info@arvintavco.com
                        </span>
                        <img src="/Resources/Svg/Mail.svg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="contact">
                        <span>
                            +98 - 0914 501 6607
                        </span>
                        <img src="/Resources/Svg/CellPhone.svg" alt="" />
                    </div>
                </li>
            </ul>
        </div>

    </footer>
    <p class="copyright center">Copyright ideh pardaz arvin tav</p>

</body>
</html>