<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>دیجیتال مارکتینگ</title>

    <link href="../Styles/Table.min.css" rel="stylesheet" />
    <link href="../Styles/Controls.min.css" rel="stylesheet" />
</head>
<body>
    <!-- #region Nav -->

    <nav class="row">
        <a href="/View/Landing.html" class="logo">
            <img class="fillheight center" src="/Resources/Svg/ArvinTavLogo.svg" />
        </a>
        <section class="row">
            <a href="/View/Landing.html" class="row">
                خانه
                <img src="/Resources/Svg/Icons/Home.svg" class="center" />
            </a>
            <a href="/View/About.html">درباره ما</a>
            <a href="/View/DigitalMarketing.html">دیجیتال مارکتینگ</a>
            <a href="/View/order/order.html">آموزش آنلاین</a>
        </section>
    </nav>

    <!-- #endregion -->

    <div class="space"></div>
    <div class="space-half"></div>
    <div class="space-mobile"></div>
    <table class="padding mat clipped center table-striped">
        <thead>
            <tr>
                <th>نوع خدمات</th>
                <th class="text-align-center">پکیج برنز</th>
                <th class="text-align-center">پکیج سیلور</th>
                <th class="text-align-center">پکیج گلد</th>
                <th class="text-align-center">پکیج الماس</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    جلسه بررسی نیازمندی کسب و کار
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    جلسه تحلیل نتایج کسب و کار
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    جلسه مشاوره تولید محتوا (Content Marketing)
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی پنل Google Adwords
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی و مدیریت کمپین آنلاین
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    سئو On Page
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    سئو Off Page
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    تعداد لغات کلیدی
                </td>
                <td class="text-align-center">
                    5
                </td>
                <td class="text-align-center">
                    6
                </td>
                <td class="text-align-center">
                    7
                </td>
                <td class="text-align-center">
                    8
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی پنل Google Analytics
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی پنل Web Master
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ساخت شکبه های اجتماعی LinkedIn Instagram Facebook
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    یکپارچه سازی Google Map
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    درج محتوا در سایت
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    10 صفحه در دوره
                </td>
                <td>
                    15 صفحه در دوره
                </td>
                <td>
                    20 صفحه در دوره
                </td>
            </tr>
            <tr>
                <td>
                    مدیریت گفت و گوهای وب سایت
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ایجاد لینک داخلی
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    بهینه سازی جیتیمتریکس (Gtmetrix)
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    تولید و درج محتوا در سایت
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td class="text-align-center">
                    5 صفحه در دوره
                </td>
                <td class="text-align-center">
                    10 صفحه در دوره
                </td>
            </tr>
            <tr>
                <td>
                    DRM مدیریت ارتباط اختصاصی
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    تولید محتوا در اینستاگرام
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td class="text-align-center">
                    3 پست در دوره
                </td>
                <td class="text-align-center">
                    7 پست در دوره
                </td>
            </tr>
            <tr>
                <td>
                    مشاوره درج اطلاعات در اینستاگرام
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td class="text-align-center">
                    2 بار در دوره
                </td>
                <td class="text-align-center">
                    هر ماه تا پایان دوره
                </td>
            </tr>
            <tr>
                <td>
                    ارائه برنامه و خط مشی ایمیل مارکتینگ
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ارائه طرح گرافیکی و قالب ایمیل مارکتینگ
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ساخت لندینگ پیج
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    راه اندازی وبلاگ
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    Guest Blogging
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ساخت اینفوگرافیک
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td class="text-align-center">
                    3 عدد در دوره
                </td>
                <td class="text-align-center">
                    6 عدد در دوره
                </td>
            </tr>
            <tr>
                <td>
                    تست A/B
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    تحلیل و طراحی Call To Action
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ارائه گزارش کتبی از وضعیت در آخر دوره
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ارائه گزارش ماهیانه با استفاده از ابزارهای مرتبط Analytic Alexa Trend
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    ارائه گزارش تحلیلی از وضعیت فنی وب سایت با Google Webmaster
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Cross.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
                <td>
                    <img src="../Resources/Svg/Icons/Check.svg" />
                </td>
            </tr>
            <tr>
                <td>
                    طول دوره
                </td>
                <td class="text-align-center">
                    1 ماه
                </td>
                <td class="text-align-center">
                    3 ماه
                </td>
                <td class="text-align-center">
                    3 ماه
                </td>
                <td class="text-align-center">
                    6 ماه
                </td>
            </tr>
            <tr>
                <td>
                    مدت زمان نفرساعت کارشناس در طول هر دوره
                </td>
                <td class="text-align-center">
                    30 ساعت
                </td>
                <td class="text-align-center">
                    120 ساعت
                </td>
                <td class="text-align-center">
                    210 ساعت
                </td>
                <td class="text-align-center">
                    900 ساعت
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    قیمت - ریال
                </td>
                <td>
                    12,500,00
                </td>
                <td>
                    44,500,000
                </td>
                <td>
                    90,500,000
                </td>
                <td>
                    225,000,000
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="space"></div>

    <footer>
        <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3140.737504409133!2d46.30713261520968!3d38.07649387970567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401a052af04f17a7%3A0x1d32d4238cb5b126!2zRWFzdCBBemVyYmFpamFuIFByb3ZpbmNlLCBUYWJyaXosIFBvbCAtZS0gU2FuZ2ksIEFsbGFtZWggVGFiYXRhYmFpLCDYqNix2Kwg2LnZhdin2LHYqiDYtdio2Kdf2LTYsdqp2Kog2LPYp9iu2KrYp9ix2LPYp9iy2Ycg2KrYqNix24zYstiMIElyYW4!5e0!3m2!1sen!2snl!4v1600765196863!5m2!1sen!2snl"
                frameborder="0"
                aria-hidden="false"></iframe>
        <!-- #region Contact -->
        <div class="column">
            <div class="contact column">
                <img src="../Resources/Svg/Location.svg" class="contact-icon" />
                <p class="contact-info">
                    دفتر مرکزی : تبریز - چایکنار - بعد از پل منصور به سمت آبرسان - ساختمان عمارت صبا - طبقه همکف غربی
                </p>
            </div>
            <div class="contact column">
                <img src="../Resources/Svg/Phone.svg" class="contact-icon" />
                <p class="contact-info">+98 - 041 - 33371059 - 33373556</p>
            </div>
            <div class="contact column">
                <img src="../Resources/Svg/Mail.svg" class="contact-icon" />
                <p class="contact-info">info@arvintavco.com</p>
            </div>
            <div class="contact column">
                <img src="../Resources/Svg/CellPhone.svg" class="contact-icon" />
                <p class="contact-info">+980914 501 6607</p>
            </div>
        </div>
        <!-- #endregion -->
    </footer>
    <p class="copyright center">Copyright ideh pardaz arvin tav</p>


</body>
</html>