<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>آروین تاو</title>

    <link href="/Styles/landing.min.css" rel="stylesheet" />
    <link rel="icon" href="/Resources/Svg/favIcon.svg" />
    <link href="/Styles/Owl/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Styles/Owl/owl.theme.default.min.css" rel="stylesheet" />
    <link href="../Styles/Controls.min.css" rel="stylesheet" />
    <link href="/Resources/Font/stylesheet.css" rel="stylesheet" />

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <script src="/Scripts/Jquery/jquery-3.5.1.js"></script>
    <script src="/Scripts/Owl/owl.carousel.min.js"></script>

    <script src="/JsDecoder/BjaxLib.js"></script>
    <script src="/JsDecoder/CoopJore.js"></script>
    <script src="/JsDecoder/StartJore.js"></script>
    <script src="/JsDecoder/HelpJore.js"></script>

    <script src="/Scripts/General.js"></script>
    <script src="/Scripts/Landing.js"></script>

    <!-- #region Out -->
    <!--BEGIN RAYCHAT CODE-->
    <script type="text/javascript">!function () { function t() { var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, localStorage.getItem("rayToken") ? t.src = "https://app.raychat.io/scripts/js/" + o + "?rid=" + localStorage.getItem("rayToken") + "&href=" + window.location.href : t.src = "https://app.raychat.io/scripts/js/" + o; var e = document.getElementsByTagName("script")[0]; e.parentNode.insertBefore(t, e) } var e = document, a = window, o = "c7fb7266-6925-40ea-b67e-3289472d3be9"; "complete" == e.readyState ? t() : a.attachEvent ? a.attachEvent("onload", t) : a.addEventListener("load", t, !1) }();</script>
    <!-- Hotjar Tracking Code for https://www.arvintavco.com -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1868546, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');

        /**/</script>
    <!-- #endregion -->

</head>
<body>

    <!-- #region Nav -->

    <nav class="row">
        <a href="/View/Landing.html" class="logo">
            <img class="fillheight center" src="/Resources/Svg/ArvinTavLogo.svg" />
        </a>
        <section class="row">
            <a href="/View/Landing.html" class="row">
                خانه
                <img src="/Resources/Svg/Icons/Home.svg" class="center" />
            </a>
            <a href="/View/About.html">درباره ما</a>
            <a href="/View/DigitalMarketing.html">دیجیتال مارکتینگ</a>
            <a href="/View/order/order.html">آموزش آنلاین</a>
        </section>
    </nav>

    <!-- #endregion -->
    <!-- #region Side-nav -->
    <aside class="side-nav column">
        <a href="#service" class="link row">
            <p>خدمات</p>
            <div class="bullet"></div>
        </a>
        <a href="#project" class="link row">
            <p>آخرین پروژه</p>
            <div class="bullet"></div>
        </a>
        <a href="#tariff" class="link row">
            <p>تعرفه های طراحی</p>
            <div class="bullet"></div>
        </a>
        <a href="#workflow" class="link row">
            <p>پروسه کار</p>
            <div class="bullet"></div>
        </a>
        <a href="#who" class="link row">
            <p>ما کیستیم</p>
            <div class="bullet"></div>
        </a>
        <a href="#why" class="link row">
            <p>چرا آروین تاو</p>
            <div class="bullet"></div>
        </a>
        <a href="#start" class="link row">
            <p>از کجا شروع کنیم</p>
            <div class="bullet"></div>
        </a>
        <a href="#coop" class="link row">
            <p>همکاری با ما</p>
            <div class="bullet"></div>
        </a>

    </aside>
    <!-- #endregion -->

    <div class="space-mobile"></div>
    <div class="space"></div>

    <!-- #region Hero -->
    <img class="hero-image" src="../Resources/Png/Icon.png" alt="res" />
    <section class="header">
        <h1>"تجارتتان را بی حد و مرز کنید با تجربه دیروز و تکنولوژی امروز"</h1>
    </section>
    <h2 class="text-secondary">
        <span class="alert">هشدار!</span>
        شاید فردا دیر باشد
    </h2>
    <!-- #endregion -->

    <div class="space-double"></div>
    <div class="space-desktop"></div>

    <!-- #region Service -->
    <!--<div class="service">
        <div class="title center title-service">
            <a name="service"></a>
            <p class="center">خدمات</p>
            <img src="../Resources/Svg/Underline_5.svg" />
        </div>
        <object class="background-svg" type="image/svg+xml" data="../Resources/Svg/Service-Background.svg"></object>
        <div class="column service-column">
            <ul class="row">
                <li class="item service-item">
                    <p class="item-header center">اپلیکیشن </p>
                    <img src="../Resources/Svg/ServicePhone.svg" class="item-icon center" />
                    <p class="item-text center">اپلیکیسین های Android , Ios , Windows  </p>
                </li>
                <li class="item service-item">
                    <p class="item-header center">نرم افزار </p>
                    <img src="../Resources/Svg/ServicePC.svg" class="item-icon center" />
                    <p class="item-text center">
                        طراحی و توسعه نرم افزار های اختصاصی تحت وب،
                        ویندوز و تحت شبکه مناسب با کسب و کار شما
                    </p>
                </li>
                <li class="item service-item">
                    <p class="item-header center">طراحی وبسایت </p>
                    <img src="../Resources/Svg/ServiceWeb.svg" class="item-icon center" />
                    <p class="item-text center">  طراحی وبسایت های اختصاصی با استفاده از تکنولوژی های روز دنیا </p>
                </li>
            </ul>
            <ul class="row bottom">
                <li class="item service-item">
                    <p class="item-header center">راه اندازی شبکه </p>
                    <img src="../Resources/Svg/ServiceNetwork.svg" class="item-icon center" />
                    <p class="item-text center">اپلیکیسین های Android , Ios , Windows  </p>
                </li>
                <li class="item service-item">
                    <p class="item-header center">شبکه های اجتماعی </p>
                    <img src="../Resources/Svg/ServiceMedia.svg" class="item-icon center" />
                    <p class="item-text center">
                        طراحی و توسعه نرم افزار های اختصاصی تحت وب،
                        ویندوز و تحت شبکه مناسب با کسب و کار شما
                    </p>
                </li>
                <li class="item service-item">
                    <p class="item-header center">طراحی گرافیکی </p>
                    <img src="../Resources/Svg/ServiceGraphicDesign.svg" class="item-icon center" />
                    <p class="item-text center">  طراحی وبسایت های اختصاصی با استفاده از تکنولوژی های روز دنیا </p>
                </li>
            </ul>

        </div>
    </div>-->
    <!-- #endregion -->
    <!-- #region Waterfall -->

    <div class="title center title-service">
        <a name="service"></a>
        <p class="center">خدمات</p>
        <img src="../Resources/Svg/Underline_5.svg" />
    </div>

    <div class="space-half"></div>

    <ul class="waterfall">
        <!-- #region Item -->
        <li class="waterfall-item">
            <content>
                <h3>طراحی وبسایت</h3>
                <p>
                    خدمات طراحی و توسعه وب سایت های کاربردی و عملیاتی و طراحی پورتال، برنامه نویسی و توسعه انواع نرم افزارهای کاربردی تحت وب، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت می پذیرد.
                    در بعضی از موارد يک وب سايت زيبا به تنهايي کارساز نيست و برای موفقيت در تجارت بايد بتوانيد ارتباط قوي تری با بازديدکنندگان خود داشته باشيد و یا اینکه عملیاتی را نیاز دارید که میتواند به ارائه هرچه بهتر خدمات شما کمک کند.
                </p>
                <a href="#tariff" class="btn margin-auto-left">
                    مشاهده تعرفه ها
                </a>
            </content>
            <div class="space"></div>
            <img src="../Resources/Svg/Waterfall/Website.svg" />
        </li>
        <!-- #endregion -->
        <!-- #region Item -->
        <li class="waterfall-item">
            <content>
                <h3>اپلیکیشن</h3>
                <p>
                    خدمات طراحی و توسعه نرم افزارهای کاربردی و عملیاتی تحت موبایل، با توجه به نیازها، نوع فعالیت و متناسب با بودجه در نظر گرفته شده توسط مشتری صورت میپذیرد.
                    در بعضی از موارد يک وب سايت یا یک نرم افزار تحت ویندوز به تنهايي کارساز نيستند و برای موفقيت در تجارت و ارتباط قوی تر و ساده تر با مشتریان و بازدید کنندگان باید ابزاری بروزتر و در دسترس تر داشته باشيد تا مشتری بتواند بصورت کاملا آسان با نصب یک اپلیکیشن به خدمات شما دسترسی داشته باشد پیشنهاد ما برای شما داشتن یک اپلیکیشن کاملا قدرتمند میباشد.

                </p>
            </content>
            <div class="space"></div>
            <img src="../Resources/Svg/Waterfall/Mobile.svg" />
        </li>
        <!-- #endregion -->
        <!-- #region Item -->
        <li class="waterfall-item">
            <content>
                <h3>طراحی و برنامه نویسی نرم افزارهای تحت دسکتاپ </h3>
                <p>
                    خدمات برنامه نویسی و توسعه نرم افزارهای تحت دستکاپ با توجه به نیازها، نوع فعالیت و متناسب با نوع کسب و کار شما قابل برنامه ریزی و تحلیل و اجرا می باشد . در واقع  نرم افزارهای اختصاصی تحت دسکتاپ  با قابلیت اتصال مستقیم به پلتفرم های مختلف ،  و مطابق با نیاز های شما بصورت اختصاصی برنامه نویسی شده  و ارائه میشود  تا بتوانيد به سادگی تمامی این داده ها و اطلاعات را کاملا بصورت پویا مديريت کنيد.
                </p>
            </content>
            <div class="space"></div>
            <img src="../Resources/Svg/Waterfall/Monitor.svg" />
        </li>
        <!-- #endregion -->
        <!-- #region Item -->
        <li class="waterfall-item">
            <content>
                <h3>راه اندازی شبکه</h3>
                <p>
                    تیم  شبکه شرکت ایده پرداز آروین تاو با تجربه چندین ساله در این حوزه  و  با مدیریت کامل بر روی خدمات نصب و راه‌اندازی شبکه‌های درون سازمانی، شرایطی را ایجاد می کند تا شما با خیالی راحت بر روی فعالیت‌های مرتبط با کسب و کار خود تمرکز داشته باشید. تیم ما با فعالیت مؤثر، دقیق و سریع خود در تمام مراحل، به شما کمک خواهد کرد تا در اسرع وقت سرویس‌ها و یا تجهیزات فن‌آوری مورد نیاز خود را ارزان‌تر و ایمن‌تر از همیشه نصب و راه‌اندازی کرده و از آن بهره‌مند گردید.
                </p>
            </content>
            <div class="space"></div>
            <img src="../Resources/Svg/Waterfall/Network.svg" />
        </li>
        <!-- #endregion -->
        <!-- #region Item -->
        <li class="waterfall-item">
            <content>
                <h3>دیجیتال مارکتینگ</h3>
                <p>
                    بازاریابی دیجیتال یا Digital Marketing به متدی از بازاریابی می گوییند که از ابزارهای داخل اینترنت برای جذب و جلب توجه مشتریان بهره می گیرد. اولین لازمه اجرای یک کمپین با کیفیت بازاریابی دیجیتال داشتن یک وب سایت با محتوای ارزشمند و اختصاصی است که کسب و کار شما را به درستی توصیف کند و علاوه بر آن طبق استانداردهای موتور جست و جو نوشته شود.
                    بازاریابی دیجیتال (Digital Marketing) دارای شاخه های متعددی است که سعی شده پکیج های متنوعی برای ارائه این خدمات ارائه شود.
                    Digital Marketing یک رویکرد جدید است که برای شروع شما نیاز به طراحی سایت ، سئو ، راه اندازی شبکه های اجتماعی و ... دارید.
                </p>
                <a href="DigitalMarketing.html" class="btn margin-auto-left">
                    مشاهده تعرفه ها
                </a>
            </content>
            <div class="space"></div>
            <img src="../Resources/Svg/Waterfall/SocialMedia.svg" />
        </li>
        <!-- #endregion -->
        <!-- #region Item -->
        <li class="waterfall-item">
            <content>
                <h3>آموزش آنلاین</h3>
                <p>
                    از جمله رویکردهای آموزشی نوین در دنیا، که به ویژه در شرایط کنونی از کارایی بالایی برای سازمان‌ها برخوردار است، استفاده از سیستم‌های ارائه‌دهنده خدمات وب کنفرانس و برگزاری جلسات آموزش از راه دور می‌باشد. بهره‌گیری از این سیستم‌ها این امکان را فراهم می‌آورد که سازمان‌ها بتوانند فعالیت‌های آموزشی و جلسات خود را بدون دغدغه به اجرا درآورند. به طور خاص آموزش آنلاین این امکان را فراهم می‌آورد که دیگر بدون محدودیت زمان و درگیری‌های مرتبط با محل و هماهنگی‌های مربوطه دوره، کلاس، وبینار و جلسه آنلاین خود را برگزار نمایید.
                    راهکار آموزش آنلاین به شما کمک می‌کند تا به راحتی کلاس‌ها و آموزش‌های خود را بر بستر آنلاین و بدون محدودیت مکان و زمان و هزینه‌های مربوطه برگزار نمایید.
                </p>
                <a href="order/order.html" class="btn margin-auto-left">
                    محاسبه سرویس
                </a>
            </content>
            <div class="space"></div>
            <img src="../Resources/Svg/Waterfall/Learning.svg" />
        </li>
        <!-- #endregion -->
        <!-- #region Item -->
        <li class="waterfall-item">
            <content>
                <h3>مجازی سازی و پردازش ابری</h3>
                <p>
                    Virtualization یا مجازی‌سازی تکنولوژی است که بوسیله آن می توان اجرای همزمان چندین  سیستم عامل بر روی یک سرور را داشته باشیم به نحوی که باعث بهره وری در هزینه های سخت افزار و نرم افزار و همچنین استفاده بهینه از تمامی منابع سیستمی شود .
                    با افتخار اعلام مینماییم امکان ارایه خدمات تخصصی مجازی سازی و دسترس پذیری بالا بصورت سازمانی را دارا میباشیم .
                </p>
            </content>
            <div class="space"></div>
            <img src="../Resources/Svg/Waterfall/Cloud.svg" />
        </li>
        <!-- #endregion -->
        <!-- #region Item -->
        <li class="waterfall-item collapsed">
            <content>
                <h3>طراحی گرافیکی</h3>
                <p>
                    لورم ایپسوم
                    متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                    مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و
                    اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

                </p>
            </content>
            <div class="space"></div>
            <img src="../Resources/Svg/Waterfall/Design.svg" />
        </li>
        <!-- #endregion -->
    </ul>

    <!-- #endregion -->

    <div class="space"></div>

    <!-- #region Video -->
    <!--<section class="column ">
        <video controls="controls" class="video center">
            <source src="../Resources/Video/end.mp4" type="video/mp4" />
        </video>
    </section>-->
    <!-- #endregion -->
    <!--<div class="space-double"></div>-->
    <!-- #region Latest Project -->
    <div class="title center title-service">
        <a name="project"></a>
        <p class="center"> آخرین پروژه ها</p>
        <img src="/Resources/Svg/Underline_1.svg" />
    </div>

    <div class="space-half"></div>

    <section id="carouselProjects" class="owl-carousel owl-theme">
        <div class="project column">
            <div class="icon  center">
                <img class="fillheight" src="/Resources/Svg/DigiDarman.svg" alt="" />
            </div>
            <div class="mat center">
                <header>دیجی درمان</header>
                <p>
                    بیماری پدیده ای جدا نشدنی از انسان است. امروزه علم پزشکی کمک معجزه آسایی در سلامتی و نجات انسان دارد.
                    اغلب اتفاق می افتد که خود یا اطرافیان دچار عارضه ای می شویم و بعلت عدم اطلاع و
                    آگاهی از مسیر درست درمان آسیب های جبران ناپذیری می بینیم. دیجی درمان پل ارتباطی شما با دنیای درمان و
                    علم روز پزشکی می باشد تا صرفه جویی در وقت صرفه جویی در هزینه و انتخاب درست مسیر درمان را تجربه کنید.
                </p>
                <div class="row">
                    <a href="https://drive.google.com/file/d/1e_D0JQf1K2MGTzCH9DacgRwRWDas6Tao/view?usp=sharing"
                       class="submit center row unselectable" download="" target="_blank">
                        دانلود
                        <img class="fillheight" src="../Resources/Svg/Icons/Download.svg" />

                    </a>
                </div>
            </div>
        </div>
        <div class="project column">
            <div class="icon  center">
                <img class="fillheight" src="/Resources/Svg/ParkingIcon.svg" alt="" />
            </div>
            <div class="mat center">
                <header>پارکینگ تاو</header>
                <p>
                    رسالت اصلی نرم افزار پارکینگ هوشمند، مدیریت ورود و خروج
                    وسایل نقلیه در یک پارکینگ می باشد به گونه ای که
                    ضمن ثبت دقیق رفت و آمدها و حذف برخی هزینه های
                    اضافی، امکانات ویژه ای جهت محاسبه تعرفه های گوناگون
                    را دارد؛ در عین حال این نرم افزار تمهیدات ویژه ای
                    جهت اعضای ثابت و آمد و شدهای متفرقه ارائه میدهد
                </p>
                <div class="row">
                    <a href="Products/Parking.html" class="submit center unselectable">اطلاعات بیشتر</a>
                </div>
            </div>
        </div>

    </section>
    <!-- #endregion -->

    <div class="space"></div>
    <!--newregion-->
    <div class="title center title-service">
        <a name="tariff"></a>
        <p class="center"> تعرفه طراحی سایت فروشگاهی</p>
        <img src="../Resources/Svg/Underline_5.svg" />
    </div>

    <div class="space-half"></div>

    <div class="cards clipped margin-auto-left margin-auto-right">
        <article class="mat column tarefe">
            <img src="../Resources/Png/WordPress.png" />
            <content class="offers padding">
                <h6>WordPress 1</h6>
                <ul class="column" dir="rtl">
                    <li>
                        <label>
                            پرداخت آنلاین
                        </label>
                    </li>
                    <li>
                        <label>
                            سفارش گیری آنلاین
                        </label>
                    </li>
                    <li>
                        <label>
                            قالب آماده
                        </label>
                    </li>
                </ul>

                <div class="row">
                    <label class="margin-auto-right " dir="rtl">
                        <span class="price">5,000,000</span>
                        <span class="toman">تومان</span>
                    </label>

                    <a class="margin-auto-left margin-auto-top margin-auto-bottom" href="offers/word-press-one.html">بیشتر</a>
                </div>
            </content>
        </article>
        <article class="mat column tarefe">
            <img src="../Resources/Png/WordPress.png" />
            <content class="offers padding">
                <h6>WordPress 2</h6>
                <ul class="column" dir="rtl">
                    <li>
                        <label>
                            قالب اختصاصی
                        </label>
                    </li>
                    <li>
                        <label>
                            SEO فنی سایت
                        </label>
                    </li>
                    <li>
                        <label>
                            پشتیبانی آنلاین و آفلاین
                        </label>
                    </li>
                </ul>

                <div class="row">
                    <label class="margin-auto-right " dir="rtl">
                        <span class="price">10,000,000</span>
                        <span class="toman">تومان</span>
                    </label>
                    <a class="margin-auto-left margin-auto-top margin-auto-bottom" href="offers/word-press-two.html">بیشتر</a>
                </div>
            </content>
        </article>
        <article class="mat column tarefe">
            <img src="../Resources/Png/Asp.png" />

            <content class="offers padding">
                <h6>ASP.net 1</h6>
                <ul class="column" dir="rtl">
                    <li>
                        <label>
                            تضمین امنیت
                        </label>
                    </li>
                    <li>
                        <label>
                            سفارش گیری آنلاین
                        </label>
                    </li>
                    <li>
                        <label>
                            تخفیفات
                        </label>
                    </li>
                </ul>

                <div class="row">
                    <label class="margin-auto-right " dir="rtl">
                        <span class="price">12,000,000</span>
                        <span class="toman">تومان</span>
                    </label>
                    <a class="margin-auto-left margin-auto-top margin-auto-bottom" href="offers/ASP1.html">بیشتر</a>
                </div>
            </content>
        </article>
        <article class="mat column tarefe">

            <img src="../Resources/Png/Asp.png" />
            <content class="offers padding">
                <h6>ASP.net 2</h6>
                <ul class="column" dir="rtl">
                    <li>
                        <label>
                            تضمین امنیت
                        </label>
                    </li>
                    <li>
                        <label>
                            سفارش گیری آنلاین
                        </label>
                    </li>
                    <li>
                        <label>
                            تخفیفات
                        </label>
                    </li>
                </ul>

                <div class="row">
                    <label class="margin-auto-right " dir="rtl">
                        <span class="price">18,000,000</span>
                        <span class="toman">تومان</span>
                    </label>
                    <a class="margin-auto-left margin-auto-top margin-auto-bottom" href="offers/ASP2.html">بیشتر</a>
                </div>
            </content>
        </article>
        <article class="mat column tarefe">
            <img src="../Resources/Png/Asp.png" />
            <content class="offers padding">
                <h6>ASP.net 3</h6>
                <ul class="column" dir="rtl">
                    <li>
                        <label>
                            تضمین امنیت
                        </label>
                    </li>
                    <li>
                        <label>
                            سفارش گیری آنلاین
                        </label>
                    </li>
                    <li>
                        <label>
                            تخفیفات
                        </label>
                    </li>
                </ul>

                <div class="row">
                    <label class="margin-auto-right " dir="rtl">
                        <span class="price">25,000,000</span>
                        <span class="toman">تومان</span>
                    </label>
                    <a class="margin-auto-left margin-auto-top margin-auto-bottom" href="offers/ASP3.html">بیشتر</a>
                </div>
            </content>
        </article>
    </div>

    <!-- #endnewregion -->
    <div class="space"></div>
    <!-- #region Workflow -->

    <div class="title center title-service">
        <a name="workflow"></a>
        <p class="center">پروسه کار</p>
    </div>

    <div class="space"></div>

    <content class="workflow row">
        <img class="center fillheight" src="/Resources/Svg/WorkFlow.svg" />
    </content>

    <!-- #endregion -->

    <div class="space-double"></div>

    <!-- #region Staff Carousel -->
    <div id="carouselStaff" class="owl-carousel owl-theme" dir="ltr">
        <!-- #region Gerami -->
        <div class="staff">
            <img src="../Resources/Jpg/Gerami.jpg" alt="" class="staff-image" />
            <p class="staff-name">مهدی گرامی</p>
            <p class="staff-description">
                سمت: مدیر عامل
                <br />
                بیش از 15 سال سابقه فعالیت در زمینه ایجاد و راه اندازی وب سایتهای تخصصی
            </p>
        </div>
        <!-- #endregion -->
        <!-- #region Sahandi -->
        <div class="staff">
            <img src="../Resources/Jpg/Sahandi.jpg" alt="" class="staff-image" />
            <p class="staff-name">مهدی سهندی</p>
            <p class="staff-description">
                کارشناس نرم افزار
                <br />
                front end
            </p>
        </div>
        <!-- #endregion -->
        <!-- #region Yanal -->
        <div class="staff">
            <img src="../Resources/Jpg/Ahmadzade.jpg" alt="" class="staff-image" />
            <p class="staff-name">ینال احمدزاده</p>
            <p class="staff-description">
                کارشناس نرم افزار
                <br />
                Back End
            </p>
        </div>
        <!-- #endregion -->
        <!-- #region Yashar -->
        <div class="staff">
            <img src="../Resources/Jpg/Yashar.jpg" alt="" class="staff-image" />
            <p class="staff-name">یاشار اسمعیل دخت</p>
            <p class="staff-description">
                مدیر ارشد فناوری (CTO)
            </p>
        </div>
        <!-- #endregion -->
        <!-- #region Arman -->
        <div class="staff">
            <img src="../Resources/Svg/Avatar_Male.svg" alt="" class="staff-image" />
            <p class="staff-name">آرمان شریفی </p>
            <p class="staff-description">
                مدیر بخش فروش
            </p>
        </div>
        <!-- #endregion -->
        <!-- #region Hadi -->
        <div class="staff">
            <img src="../Resources/Svg/Avatar_Male.svg" alt="" class="staff-image" />
            <p class="staff-name">هادی صادق</p>
            <p class="staff-description">
                کارشناس نرم افزار
                <br />
                Back End
            </p>
        </div>
        <!-- #endregion -->
        <!-- #region Bagheri -->
        <div class="staff">
            <img src="../Resources/Svg/Avatar_Female.svg" alt="" class="staff-image" />
            <p class="staff-name">نازیلا باقری</p>
            <p class="staff-description">
                کارشناس نرم افزار
                <br />
                Front End
            </p>
        </div>
        <!-- #endregion -->
        <!-- #region Lemi -->
        <div class="staff">
            <img src="../Resources/Svg/Avatar_Male.svg" alt="" class="staff-image" />
            <p class="staff-name">صدرا محمدی</p>
            <p class="staff-description">
                کارشناس نرم افزار
                <br />
                Front End
            </p>
        </div>
        <!-- #endregion -->
        <!-- #region Milad -->
        <div class="staff">
            <img src="../Resources/Jpg/Milad.jpg" alt="" class="staff-image" />
            <p class="staff-name">میلاد خادم </p>
            <p class="staff-description">
                کارشناس فروش
            </p>
        </div>
        <!-- #endregion -->
    </div>
    <!-- #endregion -->

    <script>
        $('#carouselStaff').owlCarousel({
            loop: true,
            rtl: true,
            nav: true,
            responsive: {
                0: {
                    items: 2
                },
                350: {
                    items: 3
                },
                700: {
                    items: 3
                },
                1000: {
                    items: 4
                },
                1600: {
                    items: 4
                },
            }
        })
    </script>

    <div class="space"></div>

    <a href="About.html">
        <div class="callToAction center unselectable">آشنایی بیشتر و ارتباط باما</div>
    </a>

    <div class="space-double"></div>

    <!-- #region Why -->

    <div class="title center">
        <a name="why"></a>
        <p class="center">چرا آروین تاو</p>
        <img src="../Resources/Svg/Underline_4.svg" />
    </div>

    <div class="group row center">
        <div class="group center">
            <div class="query">
                <p class="query-text">
                    توجه به موفقیت مشتریان
                </p>
                <img src="../Resources/Svg/Why/Success.svg" class="query-image" />
            </div>
            <div class="query">
                <p class="query-text">
                    مشاوره و آنالیز دقیق کسب و کار قبل از راه اندازی تجارت الکترونیک شما
                </p>
                <img src="../Resources/Svg/Why/Analize.svg" class="query-image" />
            </div>
            <div class="query">
                <p class="query-text">تجربه قدرتمند و به روز </p>
                <img src="../Resources/Svg/Why/Experience.svg" class="query-image" />
            </div>
            <div class="query">
                <p class="query-text">
                    تخصصی ترین زیرساخت ها را برای الکترونیکی سازی فعالیت های شما آماده کرده ایم
                </p>
                <img src="../Resources/Svg/Why/Foundation.svg" class="query-image" />
            </div>
        </div>
        <div class="group center">
            <div class="query">
                <p class="query-text">
                    سبد کامل محصولات و خدمات اختصاصی شده برای کسب و کار شما
                </p>
                <img src="../Resources/Svg/Why/Fill.svg" class="query-image" />
            </div>
            <div class="query">
                <p class="query-text">
                    تولید محتوا ی حرفه ای
                </p>
                <img src="../Resources/Svg/Why/Content.svg" class="query-image" />
            </div>
            <div class="query">
                <p class="query-text">
                    توجه به کیفیت
                </p>
                <img src="../Resources/Svg/Why/Quality.svg" class="query-image" />
            </div>
            <div class="query">
                <p class="query-text">
                    تیم بزرگی از متخصصان حوزه تجارت الکترونیک و برنامه نویسی متخصص و مکمل هم
                </p>
                <img src="../Resources/Svg/Why/Team.svg" class="query-image" />
            </div>
        </div>

    </div>
    <!-- #endregion -->

    <div class="space-double"></div>

    <!-- #region Start -->
    <div class="title center">
        <a name="start"></a>
        <p class="center">از کجا شروع کنیم</p>
        <img src="../Resources/Svg/Underline_1.svg" />
    </div>

    <div class="space-half"></div>

    <a name="startForm"></a>
    <div class="start row">
        <div class="aligner center">
            <form class="form start-form">
                <div class="text">
                    <label class="text-label">نام و نام خانوادگی</label>
                    <input id="txtName" type="text" class="text-entry" placeholder="نام و نام خانوادگی شما" />
                </div>
                <div class="text">
                    <label class="text-label">شماره تلفن</label>
                    <input id="txtTel" type="tel" class="text-entry" placeholder="0914..." />
                </div>
                <!--<div class="text">
                    <label class="text-label">موضوع فعالیت</label>
                    <input type="text" class="text-entry" />
                </div>-->
                <div class="text">
                    <label class="text-label">توضیح مختصر</label>
                    <input id="txtDesc" type="text" class="text-entry" placeholder="درباره پروژه" />
                </div>
                <div class="text">
                    <label class="text-label">برند مجموعه</label>
                    <input id="txtBrand" type="text" class="text-entry" placeholder="نام شرکت یا گروه شما" />
                </div>
                <div class="text collapsed" id="txtMedia">
                    <label class="text-label">لینک شبکه اجتماعی</label>
                    <input id="txtMedias" type="url" class="text-entry" placeholder="@arvin_tav_co" />
                </div>

                <div class="space"></div>

                <div class="submit center unselectable" onclick="StartClick()">ثبت</div>

            </form>
            <div class="start-items column center">
                <a href="#startForm" class="start-items-item unselectable" onmouseover="StartItemEnter(this)" id="itemWeb">طراحی وبسایت </a>
                <a href="#startForm" class="start-items-item unselectable" onmouseover="StartItemEnter(this)" id="itemSoftwar">نرم افزار </a>
                <a href="#startForm" class="start-items-item unselectable" onmouseover="StartItemEnter(this)" id="itemApp">اپلیکیشن </a>
                <a href="#startForm" class="start-items-item unselectable" onmouseover="StartItemEnter(this)" id="itemNet">راه اندازی شبکه </a>
                <!-- <a href="#startForm" class="start-items-item unselectable" onmouseover="StartItemEnter(this)" id="itemMedia">شبکه های اجتماعی </a>-->
                <!--<a href="#startForm" class="start-items-item unselectable" onmouseover="StartItemEnter(this)" id="itemGraphic">طراحی گرافیکی </a>-->
            </div>
        </div>

    </div>

    <!-- #endregion -->

    <div class="space-double"></div>

    <!-- #region Cooperation -->

    <div class="title center">
        <p class="center">همکاری با ما</p>
        <img src="../Resources/Svg/Underline_5.svg" />
    </div>

    <div class="coop row">
        <div class=" form coop-form column">
            <a name="coop"></a>
            <div class="text">
                <label class="text-label">نام و نام خانوادگی</label>
                <!--<input type="text" id="coopName" class="text-entry" value="Dorf Dorfson" />-->
                <input type="text" id="coopName" class="text-entry" placeholder="نام و نام خانوادگی شما" />
                <div class="text-underline"></div>
            </div>

            <!--<div class="text">
                <label class="text-label">ایمیل</label>
                <input type="email" id="coopEmail" class="text-entry" placeholder="mhm@gmail.com" />
                <div class="text-underline"></div>
            </div>-->

            <div class="text">
                <label class="text-label">شماره تلفن</label>
                <!--<input type="tel" id="coopTellNumber" class="text-entry" value="09355932930" />-->
                <input type="tel" id="coopTellNumber" class="text-entry" placeholder="0914..." />
                <div class="text-underline"></div>
            </div>

            <div class="space-half"></div>

            <!-- در صورت وجود ارور یا مشکل کلاس Hidden را از این پاراگراف بردارید -->
            <p class="errorProvider alert center hidden">مشکلی پیش آمده</p>



            <div class="submit center unselectable" onclick="EmailCoop()">ثبت</div>
        </div>
    </div>

    <!-- #endregion -->

    <div class="space-double"></div>



    <footer>
        <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3140.737504409133!2d46.30713261520968!3d38.07649387970567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401a052af04f17a7%3A0x1d32d4238cb5b126!2zRWFzdCBBemVyYmFpamFuIFByb3ZpbmNlLCBUYWJyaXosIFBvbCAtZS0gU2FuZ2ksIEFsbGFtZWggVGFiYXRhYmFpLCDYqNix2Kwg2LnZhdin2LHYqiDYtdio2Kdf2LTYsdqp2Kog2LPYp9iu2KrYp9ix2LPYp9iy2Ycg2KrYqNix24zYstiMIElyYW4!5e0!3m2!1sen!2snl!4v1600765196863!5m2!1sen!2snl"
                frameborder="0"
                aria-hidden="false"></iframe>
        <!-- #region Contact -->
        <div class="column">
            <div class="contact column">
                <img src="../Resources/Svg/Location.svg" class="contact-icon" />
                <p class="contact-info">
                    دفتر مرکزی : تبریز - چایکنار - بعد از پل منصور به سمت آبرسان - ساختمان عمارت صبا - طبقه همکف غربی
                </p>
            </div>
            <div class="contact column">
                <img src="../Resources/Svg/Phone.svg" class="contact-icon" />
                <p class="contact-info">+98 - 041 - 33371059 - 33373556</p>
            </div>
            <div class="contact column">
                <img src="../Resources/Svg/Mail.svg" class="contact-icon" />
                <p class="contact-info">info@arvintavco.com</p>
            </div>
            <div class="contact column">
                <img src="../Resources/Svg/CellPhone.svg" class="contact-icon" />
                <p class="contact-info">+980914 501 6607</p>
            </div>
        </div>
        <!-- #endregion -->
    </footer>
    <p class="copyright center">Copyright ideh pardaz arvin tav</p>


    <script>
        $('#carouselProjects').owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 2500,
            rtl: true,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
            }
        })

        let duration = 1400;
        window.sr = ScrollReveal();
        sr.reveal(
            'nav',
            {
                duration: duration,
                origin: 'top',
                distance: '50px'
            });
        sr.reveal(
            '.header',
            {
                duration: duration,
                origin: 'bottom',
            });
        sr.reveal(
            '.hero-image',
            {
                duration: duration,
                origin: 'bottom',
            });
        sr.reveal(
            '.text-secondary',
            {
                duration: duration,
                origin: 'bottom',
            });
        sr.reveal(
            '.video',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4

            });
        sr.reveal(
            '.service',
            {
                duration: 1500,
                origin: 'bottom',
                viewFactor: 0.1

            });
        sr.reveal(
            '#carouselStaff',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4

            });
        sr.reveal(
            '.callToAction',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4

            });
        sr.reveal(
            '.description',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4

            });
        sr.reveal(
            '.waterfall-item',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4

            });
        sr.reveal(
            '.query',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4
            });
        sr.reveal(
            '.workflow',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4
            });
        sr.reveal(
            '.owl-carousel',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4
            });
        sr.reveal(
            '.title',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4

            });
        sr.reveal(
            '.coop ',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4

            });
        sr.reveal(
            '.form ',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: 0.4

            });
        sr.reveal(
            '.start-items-item',
            {
                duration: duration,
                origin: 'bottom',
                viewFactor: .8

            });
        sr.reveal(
            '.tarefe',
            {
                duration: duration,
                origin: 'bottom'

            });

    </script>

</body>
</html>