<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>آروین تاو</title>

    <link href="/Styles/Offer.min.css" rel="stylesheet" />
    <link rel="icon" href="/Resources/Svg/favIcon.svg" />

    <!--Uikit Scripts-->
    <link href="/Styles/uikit.min.css" rel="stylesheet" />
    <!--Uikit Scripts-->
    <script src="/Scripts/uikit-icons.min.js"></script>
    <script src="/Scripts/uikit.min.js"></script>

    <link href="/Resources/Font/stylesheet.css" rel="stylesheet" />
    <script src="/Scripts/General.js"></script>

    <script src="/Scripts/Jquery/jquery-3.5.1.js"></script>
    <script src="../../JsDecoder/StartJore.js"></script>
    <script src="../../JsDecoder/BjaxLib.js"></script>

    <!-- #region Out -->
    <!--BEGIN RAYCHAT CODE-->
    <script type="text/javascript">!function () { function t() { var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, localStorage.getItem("rayToken") ? t.src = "https://app.raychat.io/scripts/js/" + o + "?rid=" + localStorage.getItem("rayToken") + "&href=" + window.location.href : t.src = "https://app.raychat.io/scripts/js/" + o; var e = document.getElementsByTagName("script")[0]; e.parentNode.insertBefore(t, e) } var e = document, a = window, o = "c7fb7266-6925-40ea-b67e-3289472d3be9"; "complete" == e.readyState ? t() : a.attachEvent ? a.attachEvent("onload", t) : a.addEventListener("load", t, !1) }();</script>
    <!-- Hotjar Tracking Code for https://www.arvintavco.com -->
    <script>
        (function (h, o, t, j, a, r)
        {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1868546, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');

        /**/</script>
    <!-- #endregion -->


</head>
<body>


    <!-- #region Nav -->

    <nav class="row">
        <a href="../Landing.html" class="logo">
            <img class="fillheight center" src="/Resources/Svg/ArvinTavLogo.svg" />
        </a>
        <section class="row">
            <a href="../Landing.html" class="row">
                خانه
                <img src="/Resources/Svg/Icons/Home.svg" class="center" />
            </a>
            <a href="../About.html">درباره ما</a>
        </section>
    </nav>
<div class="space-nav-bottom"></div>

    <!-- #endregion -->


    <div class=" WP1 clipped" dir="rtl">
        <img class="mat uk-margin-right" src="/Resources/Png/Asp.png" />
        <div class="divider"></div>
        <content class="mat column">
            <h4 class="uk-margin-top ">
                طراحی سایت ای اس پی 1
            </h4>
            <p class="uk-margin-left">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگنده
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگنده

            </p>
            <div class="row uk-margin-auto-top  uk-margin-bottom ">
                <button class="uk-margin-auto-left" uk-toggle="target: #order" type="button">سفارش</button>
                <label class="uk-margin-auto-right uk-margin-left" dir="rtl">
                    <span class="price">12,000,000</span>
                    <span class="toman">تومان</span>
                </label>

            </div>

        </content>
    </div>
    <div class="space-half"></div>
    <div class="wp1content  mat column" dir="rtl">
        <div class="uk-padding column clipped">
            <h4>ادامه توضیحات</h4>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آیندهلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
            </p>
            <div class="row uk-padding-small">
                <label class=" uk-text-bold" for="security">امنیت</label>
                <progress class="uk-margin-right" id="security" value="4" max="5"> 4 </progress>
                <label class=" amount uk-text-bold uk-margin-right" for="security">4/5</label>
            </div>
            <div class="row uk-padding-small ">
                <label class=" uk-text-bold" for="speed">سرعت</label>
                <progress class="uk-margin-right" id="speed" value="3" max="5"> 3</progress>
                <label class=" amount uk-text-bold uk-margin-right" for="security">3/5</label>
            </div>
            <div class="row uk-padding-small">
                <label class=" uk-text-bold" for="seeming">زیبایی</label>
                <progress class="uk-margin-right" id="seeming" value="3" max="5"> 3 </progress>
                <label class="amount uk-text-bold uk-margin-right" for="security">3/5</label>
            </div>
            <div class="space"></div>

            <ul>


                <li>
                    <img src="/Resources/Svg/Icons/dot.svg" />
                    <span>
                        قالب آماده
                    </span>
                </li>
                <li>
                    <img src="/Resources/Svg/Icons/dot.svg" />
                    <span>
                        ریسپانسیو
                    </span>

                </li>
                <li>

                    <img src="/Resources/Svg/Icons/dot.svg" />

                    <span>
                        پرداخت آنلاین
                    </span>

                </li>
                <li>
                    <img src="/Resources/Svg/Icons/dot.svg" />
                    <span>
                        سفارش گیری آنلاین
                    </span>

                </li>
                <li>
                    <img src="/Resources/Svg/Icons/dot.svg" />
                    <span>
                        ماژول تخفیفات
                    </span>

                </li>
                <li>
                    <img src="/Resources/Svg/Icons/dot.svg" />
                    <span>
                        هاست و دامنه رایگان یک ساله
                    </span>

                </li>
                <li>
                    <img src="/Resources/Svg/Icons/dot.svg" />
                    <span>
                        پشتیبانی رایگان یک ساله
                    </span>

                </li>
                <li>
                    <img src="/Resources/Svg/Icons/plus.svg" />
                    <span>
                        دو عدد طرح قالب
                    </span>
                </li>
                <li>
                    <img src="/Resources/Svg/Icons/plus.svg" />
                    <span>
                        SEO فنی وبسایت
                    </span>
                </li>
                <li>
                    <img src="/Resources/Svg/Icons/plus.svg" />
                    <span>
                        فاکتور اختصاصی
                    </span>
                </li>
                <li>
                    <img src="/Resources/Svg/Icons/plus.svg" />
                    <span>
                        دسته بندی یک لایه
                    </span>
                </li>
                <li>
                    <img src="/Resources/Svg/Icons/plus.svg" />
                    <span>
                        تک ادمینه
                    </span>
                </li>
                <li>
                    <img src="/Resources/Svg/Icons/plus.svg" />
                    <span>
                        تایید recaptcha
                    </span>
                </li>

            </ul>
            <div class="space"></div>
            <button class="uk-margin-auto-left uk-margin-right" uk-toggle="target: #order">سفارش</button>
        </div>

    </div>
    <div class="space"></div>

    <!--modal-->
    <!-- This is the modal -->
    <div id="order" uk-modal>
        <div class="uk-modal-dialog uk-modal-body column clipped center">
            <a class="uk-modal-close uk-close"></a>
            <div class="text">
                <label class="text-label">نام و نام خانوادگی</label>
                <input id="txtName" type="text" class="text-entry" placeholder="نام و نام خانوادگی شما" />
            </div>
            <div class="text">
                <label class="text-label uk-margin-top">شماره تلفن</label>
                <input id="txtTel" type="tel" class="text-entry" placeholder="0914." />
            </div>

            <div class="text">
                <label class="text-label uk-margin-top">توضیح مختصر</label>
                <input id="txtDesc" type="text" class="text-entry" placeholder="درباره پروژه" />
            </div>
            <div class="text">
                <label class="text-label uk-margin-top">برند مجموعه</label>
                <input id="txtBrand" type="text" class="text-entry" placeholder="نام شرکت یا گروه شما" />
            </div>
            <div class="space"></div>

            <button onclick="AddOffer()">سفارش</button>
        </div>
    </div>


    <script src="../../Scripts/Offer.js"></script>

</body>
</html>