@import '_colors.scss';
@import '_global.scss';

@import '_layout.scss';

//---------------------------------------

.description {
    width: 85%;
    margin-top: 4px;
    font-size: 1.5vw;
    text-align: justify !important;
    -ms-text-justify: kashida !important;
    text-justify: kashida !important;
    text-align-last: center;
}

.media {
    margin: auto;
    width: 16vw;
    align-content: space-between;
    overflow: hidden !important;

    &-icon {
        width: 50%;
    }

    &-link {
    }
}

.map {
    width: 80vw;
    margin: auto !important;
    background: $ControlBackground;
    height: 28vw;
}

.contacts {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 3vw;
    width: 90vw;

    .dummy {
        background: rgb(random(255),random(255),random(255));
        width: 100%;
    }

    .contact {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 2vw;

        &-icon {
            width: 4vw;
            height: 4vw;
        }

        &-info {
        }
    }
}

.email {
    margin: auto !important;
    width: 20vw;
    height: 30vw;
    padding: 2.0vw !important;

    text {
        margin: .8vw !important;
    }
}


#text {
    height: 12vw;

    .text-underline {
        height: 0.4vw;
        flex: 0.2;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .contact {
        margin: 3vw;

        &-icon {
            width: 6vw;
            height: 6vw;
        }

        &-info {
            font-size: 3.5vw;
        }
    }

    .email {
        margin: auto !important;
        width: 46vw;
        height: 65vw;
        padding: 2vw;
    }
}
