@import '_colors.scss';
@import '_layout.scss';

.MainContent {
    height: 100%;
}

#bigP, .bigP-container {
    font-size: 16px !important;
    text-align: justify;
    -ms-text-justify: kashida;
    text-justify: kashida;
    overflow-y: hidden;

    > * {
        font-size: 16px;
    }

    * {
        overflow-y: hidden !important;
    }
}

#modal-more {

    * {
        overflow: hidden;
    }

    > div {
        width: 80vw;
    }

    text-align: justify;
    -ms-text-justify: kashida;
    text-justify: kashida;
}

.cards {
    $cardWidth: 280px;
    @include grid-gap($cardWidth,1.5em);
    overflow: visible !important;

    .mat {
        margin: auto !important;
        width: $cardWidth;
        overflow: hidden;

        img {
            flex: 1;
            object-fit: contain;
            max-height: 180px;
        }

        content {
            flex: 1;
            overflow: hidden;

            * {
                overflow: hidden;
            }

            li {
                label {
                    font-size: small;
                }
            }

            h6 {
                font-size: medium;
            }

            a {
                font-size: small;
            }

            a:visited {
                color: $link;
            }

            .price {
                color: #65d74f;
                font-size: 20px;
            }

            .toman {
                font-size: 12px;
                color: #65d74f;
            }
        }
    }
}

@media only screen and (max-device-width : 480px) {
    .cards {
        $cardWidth: 280px;
        @include grid-gap($cardWidth,1.5em);
        overflow: visible !important;

        .mat {
            margin: auto !important;
            width: $cardWidth;
            height: 360px;
            overflow: hidden;

            img {
                flex: 1;
                object-fit: contain;
            }

            content {
                flex: 1;
                overflow: hidden;

                * {
                    overflow: hidden;
                }

                li {
                    label {
                        font-size: small;
                    }
                }

                h6 {
                    font-size: medium;
                    width: $cardWidth !important;
                    text-align: center !important;
                }

                a {
                    font-size: small;
                }

                a:visited {
                    color: $link;
                }

                .price {
                    color: #65d74f;
                    font-size: 20px;
                }

                .toman {
                    font-size: 8px;
                    color: #65d74f;
                }
            }
        }
    }
}

@media only screen and (max-width: 825px) {
    .cards {
        $cardWidth: 180px;
        @include grid-gap($cardWidth,1.5em);
        overflow: visible !important;

        .mat {
            margin: auto !important;
            width: $cardWidth;
            height: 250px;
            overflow: hidden;

            img {
                flex: 1;
                object-fit: contain;
            }

            content {
                flex: 1;
                overflow: hidden;

                * {
                    overflow: hidden;
                }

                li {
                    label {
                        font-size: small;
                    }
                }

                h6 {
                    font-size: medium;
                }

                a {
                    font-size: small;
                }

                a:visited {
                    color: $link;
                }

                .price {
                    color: #65d74f;
                    font-size: 20px;
                }

                .toman {
                    font-size: 8px;
                    color: #65d74f;
                }
            }
        }
    }
}

.WP1 {
    @include row();
    overflow: visible;
    width: 92vw;

    * {
        overflow: hidden;
    }

    .mat {
        width: 30vw;
        margin: auto !important;
        height: 25vw;

        p {
            text-align: justify;
            -ms-text-justify: inter-word !important;
            text-justify: inter-word !important;
            direction: rtl;
            font-size: 16px;
        }
    }

    img {
        flex: 1;
        object-fit: contain;
        overflow: hidden;
        padding: 20px !important;
    }

    .divider {
        flex: .08;
        height: 5px;
        background: transparent;
    }

    content {
        flex: 2;

        > * {
            margin-right: 30px;
        }

        h4 {
            font-size: 19px;
        }

        div > button {
            background: #66BB6A;
            padding: 8px;
            font-size: large;
            border: 0;
            width: 160px;
            color: white;
            opacity: 1;
            transition: 0.3s;
        }

        button:hover {
            opacity: 0.7;
        }

        .price {
            color: #65d74f;
            font-size: 26px;
        }

        .toman {
            font-size: 10px;
            color: #65d74f;
        }
    }
}

@media only screen and (max-device-width : 568px) {
    .WP1 {
        margin-top: 80px;
        display: flex;
        padding: 0;
        flex-direction: column;


        * {
            overflow: hidden;
        }

        .mat {
            width: 100%;
            margin: auto !important;
            height: 500px;

            p {
                text-align: justify;
                -ms-text-justify: inter-word !important;
                text-justify: inter-word !important;
                direction: rtl;
                font-size: 30px;
            }
        }

        img {
            flex: 1;
            object-fit: contain;
            overflow: hidden;
        }

        .divider {
            flex: 2;
            min-height: 26px;
            height: 100px;
        }

        content {
            flex: 1;

            > * {
                margin-right: 30px;
            }

            h4 {
                font-size: 34px;
            }



            div > button {
                width: 160px;
                color: white;
                opacity: 1;
                transition: 0.3s;
                font-size: 26px
            }

            button:hover {
                opacity: 0.7;
            }

            .price {
                color: #65d74f;
                font-size: 30px;
            }

            .toman {
                font-size: 12px;
                color: #65d74f;
            }
        }
    }
}

.wp1content {
    width: 92vw !important;
    margin: auto;

    progress::-moz-progress-bar {
        background-color: #EEE;
    }

    progress::-webkit-progress-bar {
        background-color: #EEE;
    }

    progress::-webkit-progress-value {
        background-color: #66BB6A;
    }

    progress {
        width: 400px;
        height: 20px;
        border-radius: 20px;
        color: blue;
    }

    p {
        text-align: justify;
        -ms-text-justify: inter-word !important;
        text-justify: inter-word !important;
        direction: rtl;
        font-size: 16px;
    }

    * {
        overflow: hidden;
    }

    label {
        font-size: 14px;
    }

    .amount {
        color: #66BB6A;
    }

    ul {
    }

    li {
        padding: 10px;
        @include row();

        img {
        }

        span {
            margin-right: 10px;
            font-size: 16px;
        }
    }

    div > button {
        background: #66BB6A;
        padding: 8px;
        font-size: large;
        border: 0;
        width: 160px;
        color: white;
        opacity: 1;
        transition: 0.3s;
    }

    button:hover {
        opacity: 0.7;
    }
}

@media only screen and (max-device-width : 568px) {
    .wp1content {
        padding: 0px;

        h4 {
            font-size: 34px;
        }

        p {
            text-align: justify;
            -ms-text-justify: inter-word !important;
            text-justify: inter-word !important;
            direction: rtl;
            font-size: 30px;
        }

        * {
            overflow: hidden;
        }


        progress {
            width: 680px;
            height: 20px;
            background: blue;
            border-radius: 20px;
            margin: 14px 0 0 0;
        }

        label {
            font-size: 24px;
        }

        .amount {
            color: #66BB6A;
        }

        ul {
        }

        li {
            padding: 10px;
            @include row();

            img {
            }

            span {
                margin-right: 10px;
                font-size: 26px;
            }
        }

        div > button {
            background: #66BB6A;
            padding: 8px;
            font-size: 26px;
            border: 0;
            width: 160px;
            color: white;
            opacity: 1;
            transition: 0.3s;
        }

        button:hover {
            opacity: 0.7;
        }
    }
}

#order {
    button {
        background: #66BB6A;
        padding: 8px;
        font-size: large;
        border: 0;
        width: 160px;
        color: white;
        opacity: 1;
        transition: 0.3s;
    }

    button:hover {
        opacity: 0.7;
    }
}

@media only screen and (max-device-width : 568px) {
    #order {
        button {
            background: #66BB6A;
            padding: 8px;
            font-size: 26px;
            border: 0;
            width: 160px;
            color: white;
            opacity: 1;
            transition: 0.3s;
        }
    }
}
