@import '_colors.scss';
@import '_global.scss';

@import '_layout.scss';

//---------------------------------------

.order-container {
    overflow-x: visible !important;

    * {
        overflow: hidden;
    }
}

.workflow {

    .workflowItem {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        border: 1px solid #a8a8a8;
        font-size: 24px !important;
        padding: 10px;
        color: #808080 !important;
        text-align: center !important;
        outline: none !important;
        //padding:5px;
        //margin:auto !important;
        span {
            position: absolute;
        }
    }

    button:hover {
        opacity: 0.7;
        text-decoration: none;
    }

    .current {
        background: #66BB6A;
        border-color: #66BB6A;
        color: white !important;
    }

    label {
        font-size: small;
        padding: 0;
        margin: 0;
    }

}

@media only screen and (max-device-width: 600px) {
    .workflow {
        .workflowItem {
            height: 88px;
            width: 88px;
            font-size: 32px !important;
            padding: 10px;
        }

        label {
            font-size: 20px !important;
        }

        .line {
           
            height: 20px !important;
        }
    }
    }

.line {
    width: 24vw;
    height: 34px;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #cfcbcb;
}


p {
    font-size: 14px;
    // background: #d4d5d3;
    padding: 10px;
}

ul {
    font-size: 14px;
    background: #b8d49b;
    list-style-type: circle !important;
    list-style-position: inside;
    padding: 30px;


    li {
        font-size: 14px;
        padding-right: 10px;
    }
}
@media only screen and (max-device-width: 600px) {
    p {
        font-size: 20px;
    }

    ul {
        font-size: 22px;
        li {
            font-size: 20px;

        }
    }
}
    /*.serviceType {
    width: 180px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #62b140;
    margin: auto;
}
*/
    .grid {
        @include grid-gap(250px, 0.8em);
        padding: 20px 2vw;
    }

    .cases {
        width: 250px;
        height: 360px;

        ul {
            background: white;
        }

        h5 {
            padding: 10px;
            background: #57AE46;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
        }

        label {
            font-size: 20px;
            color: #699f52;
            font-weight: bold;

            span {
                font-size: 12px;
            }
        }
        /* button {
        width: 100px;
        background: #699f52;
        border-radius: 20px;
        font-size: 14px;
        padding: 5px;
        margin: auto;
        color: white;
        border: none;
    }

    button:hover {
        background: red;
    }*/
        button {
            background: #57AE46;
            padding: 8px;
            font-size: medium;
            border: 0;
            width: 140px;
            color: white;
            opacity: 1;
            transition: 0.3s;
            margin: auto;
        }

        button:hover {
            opacity: 0.7;
        }
    }

    #ser-two {
        display: none;
    }

    #ser-three {
        display: none;
    }

    #ser-four {
        display: none;
    }


    /*.hover {
    position: fixed;
    padding: 16px;
    background: red;
    left: 50px;
    top: 100px;
}

.range {
    width: 100% !important;
}

.range-control {


    #inputRange {
        width: 100% !important;
    }
}*/

@media only screen and (max-device-width: 600px) {
    .grid {
        @include grid-gap(310px, 0.8em);
        padding: 20px 2vw;
    }

    .cases {
        width: 310px;
        height: 400px;

        button {
            font-size: 22px !important;
            
        }
    }

    h5 {
        font-size: 34px;
        font-weight: 400;
        padding: 14px;
    }

        label {
            font-size: 24px;
            font-weight: bold;

            span {
                font-size: 16px;
            }
        }

   }

    .slidecontainer {
        width: 100%;

        label {
            font-size: 14px !important;
            margin: 0 8px !important;
        }
    }

    #outvalue {
        font-size: 20px !important;
        color: #4CAF50;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        margin-top: 3px;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    #periodOfservice {
        width: 35vw;
        padding: 16px;
        @include center();
        margin-top: 30px;
        font-size: 16px;

        option {
            font-size: 16px;
            font-weight: 400;
            padding: 10px !important;
            margin: auto;
        }
    }
@media only screen and (max-device-width: 600px) {
    #periodOfservice {
        font-size: 24px;

        option {
            font-size: 14px;
            font-weight:100;
        }
    }
}

    #totalPrice {
        color: #dd1717;
    }

    .confirm {
        background: #57AE46;
        padding: 5px;
        font-size: medium;
        border: 0;
        width: 140px;
        height: 40px;
        color: white;
        opacity: 1;
        transition: 0.3s;
    }


    .confirm:hover {
        opacity: 0.7;
    }
@media only screen and (max-device-width: 600px) {
    .confirm {
        font-size: 22px !important;
        padding: 8px;
        width: 150px;
        height: 50px;
    }
}
    table {
        margin-top: 5px;

        th {
            padding: 5px;
            font-size: 12px;
            text-align: right !important;
        }

        td {
            padding: 5px;
            text-align: right !important;
            font-size: 12px;
            // padding: 10px;
            // border: 0.8px solid #808080;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    }

    .tableLabel {
        font-size: 16px;
        font-weight: 400;
    }

@media only screen and (max-device-width: 600px) {
    table {
           th {
            //padding: 5px;
            font-size: 24px;
           // text-align: right !important;
        }

        td {
            //padding: 5px;
            //text-align: right !important;
            font-size: 22px;
            // padding: 10px;
            // border: 0.8px solid #808080;
        }
    }

    .tableLabel {
        font-size: 20px;
      
    }

}