@import '_global.scss';
@import '_colors.scss';
@import '_layout.scss';

.text-align-center {
    text-align: center !important;
}

$border: 1px solid #ccc;

table {
    direction: rtl;
    border-spacing: 0px;

    tr, td {
        text-align: right;
        border-left: $border;
        color: #3e3e3e;
    }

    td {
        border-top: $border;
    }

    thead {
        th {
            padding: 16px;
            font-size: 16px;
            background: #4a4a4a;
            color: #fff;
        }
    }

    tbody {

        td {
            padding: 12px;
            font-size: 16px;
            border-right: $border;
        }

        img {
            width: 100%;
            height: 24px;
            -o-object-fit: contain;
            object-fit: contain;
            -o-object-position: center;
            object-position: center;
        }
    }

    tfoot {
        td {
            padding: 16px;
            font-size: 20px;
            border-bottom: $border;
            border-right: $border;
            color: #ff0000;
        }
    }
}

.table-striped {
    tr:nth-child(2n-1) {
        background: #fff;
    }

    tr:nth-child(2n) {
        background: #f6f6f6;
    }
}
